@{
    ViewBag.Title = "Vintage Rabbit - Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="gutter hidden">
    <div class="grid-wrap hidden" style="display: none;">
        <div class="col-2 col-3-d col-6-t">&nbsp;
            <h3>Games</h3>
            <div class="category dropdown2">

                <div class="select">Categories<i class="fa fa-angle-down"></i></div>
                <div class="categories items">
                    <ul class="v2 col-3">
                        <li class="selected">All</li>
                        <li>Party</li>
                        <li>Gifts</li>
                        <li>Games</li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="col-6 col-2-d">
            &nbsp;
        </div>
        
        <div class="col-2 col-3-d offset1">&nbsp;
            <div class="sort-by">
                
                <div class="dropdown2"><div class="select">Sort by <i class="fa fa-angle-down"></i></div></div>
            </div>
        </div>
        <div class="col-2 col-3-d">&nbsp;
            <div class="sort-by">
                <div class="dropdown2"><div class="select">25 Items per page <i class="fa fa-angle-down"></i></div></div>
            </div>
        </div>
    </div>
</div>

<div class="gutter" style="margin-top: 20px; font-size: 18px;">Home &nbsp; > &nbsp; <strong>Games</strong></div>

<div class="refine-bar hidden">
    <div class="gutter">
        <div class="grid-wrap">
            <div class="col-3">
                <div class="dropdown">
                    <div class="select">Categories <i class="fa fa-angle-down"></i></div>
                    <div class="items">
                        <ul>
                            <li class="selected">All</li>
                            <li>Party</li>
                            <li>Gifts</li>
                            <li>Games</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-4">&nbsp;</div>

            <div class="col-2">
                <div class="sort">
                    <div class="dropdown">
                        <div class="select">Sort <i class="fa fa-angle-down"></i></div>
                        <div class="items">
                            <ul>
                                <li>Price</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="items-per-page">
                    <div class="dropdown">
                        <div class="select">Results per page <i class="fa fa-angle-down"></i></div>
                        <div class="items">
                            <ul>
                                <li>10</li>
                                <li class="selected">25</li>
                                <li>50</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script type="text/javascript">
        $('.dropdown').on('click', function (event) {
            event.stopPropagation();

            $(this).toggleClass('active');
        });

        $('body').on('click', function () {
            $('.dropdown').removeClass('active');
        });


    </script>

@{Html.RenderPartial("products");}   
@{Html.RenderPartial("products");}    
@{Html.RenderPartial("products");}