@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.Keywords" />

    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="/Content/less/site.less" type="text/css" charset="utf-8" />
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>
</head>
<body>


    <header>
        <div class="row">
            <div class="col-5">
                <h1><a href="/">Vintage Rabbit</a></h1>
            </div>

            <div class="col-7">
                <div class="right-header-container">
                
                </div>

                <div class="social">
                    <a href="http://www.facebook.com">
                        <img src="/content/images/social/facebook.gif" />
                    </a>
                    <a href="http://www.instagram.com">
                        <img src="/content/images/social/instagram.gif" />
                    </a>
                    <a href="http://www.pinterest.com">
                        <img src="/content/images/social/pinterest.gif" />
                    </a>
                    <a href="mailto:asd@asd.com">
                        <img src="/content/images/social/email.gif" />
                    </a>
                </div>

            </div>

        </div>
    </header>



    <nav>
        <ol>
            <li>
                <a href="#">Hire</a>
            </li>
            <li>
                <a href="#">Themes</a>
            </li>
            <li>
                <a href="#">Party Supplies</a>
            </li>
            <li>
                <a href="#">Gifts</a>
            </li>
            <li>
                <a href="#">Games</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ol>
    </nav>

    <div class="home">

        <h2>Coming soon</h2>
        </div>


</body>


</html>

