            

    <div class="large-images">
         <div class="grid-wrap">
            <div class="col-4 col-12-m">
                <div class="hire-image">
                    <img src="/content/images/Toffee-Apples.jpg" />
                </div>
                <a class="tile-image hire" href="@Url.RouteUrl(Routes.Hire)">
                    Hire
                    <em>Lorem Ipsum is simply dummy text of the printing</em>
                </a>
            </div>
            <div class="col-4 col-12-m">
                <div class="style-image">
                    <img src="/content/images/Toffee-Apples.jpg" />
                </div>
                <a class="tile-image style" href="@Url.RouteUrl(Routes.Hire)">
                    Style
                    <em>Lorem Ipsum is simply dummy text of the printing</em>
                </a>
            </div>
            <div class="col-4 col-12-m">
                <div class="buy-image">
                    <img src="/content/images/Toffee-Apples.jpg" />
                </div>
                <a class="tile-image buy" href="@Url.RouteUrl(Routes.Hire)">
                    Buy
                    <em>Lorem Ipsum is simply dummy text of the printing</em>
                </a>
               
		</div>
            </div>
        </div>
    </div>
