@{
    ViewBag.Title = "Vintage Rabbit";
    Layout = "../Shared/_Layout.cshtml";
}



        <div class="gutter">

            @{Html.RenderPartial("image.header");}

        </div>

        <div class="gutter">

            @{Html.RenderPartial("promotions");}

        </div>

    @{Html.RenderPartial("products");}
        