@{
    ViewBag.Title = "Home Page";
}


<div class="home">
    <div class="row styles">
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Hire.Index)" class="hire tile-image">
                Hire
                <em>Lorem Ipsum is simply dummy text of the printing</em>
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Themes)" class="style tile-image">
                Themes
                <em>Lorem Ipsum is simply dummy text of the printing</em>
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Buy.Index)" class="buy tile-image">
                Buy
                <em>Lorem Ipsum is simply dummy text of the printing</em>
            </a>
        </div>
    </div>


    <div class="social">
        <a href="http://www.facebook.com">
            <img src="/content/images/social/facebook.gif" />
        </a>
        <a href="http://www.instagram.com">
            <img src="/content/images/social/instagram.gif" />
        </a>
        <a href="http://www.pinterest.com">
            <img src="/content/images/social/pinterest.gif" />
        </a>
        <a href="mailto:asd@asd.com">
            <img src="/content/images/social/email.gif" />
        </a>
    </div>


    <div class="promotions box-container">
            <div class="row">
                <div class="col-4 col-12-t">
                    <h3>
                        <i class=" fa fa-truck"></i>Free delivery over $100
                        <em>Australia wide</em>
                    </h3>
                </div>


                <div class="col-4 col-12-t">
                    <h3>
                        <i class="fa fa-question-circle"></i>Have a question?
                        <em>Give us a call any time on 13 41 41</em>
                    </h3>
                </div>

                <div class="col-4 col-12-t">
                    <h3>
                        <i class="fa fa-question-circle"></i>Another promotion
                        <em>Extra text related to the promotion</em>
                    </h3>
                </div>
            </div>
    </div>


    @{Html.RenderAction("Featured", "Products");}

</div>
