@{
    ViewBag.Title = "Home Page";
}


<div class="home">
    <div class="row styles">
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Hire.Index)" class="hire tile-image">
                <img src="/content/images/home/hire.jpg" />
                Hire
                <em>Lorem Ipsum is simply dummy text of the printing</em>
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Themes)" class="style tile-image">
                <img src="/content/images/home/themes.jpg" />
                Style
                <em>Lorem Ipsum is simply dummy text of the printing</em>
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Buy.Index)" class="buy tile-image">
                <img src="/content/images/home/buy.jpg" />
                Buy
                <em>Lorem Ipsum is simply dummy text of the printing</em>
            </a>
        </div>
    </div>

    <hr />

    @{Html.RenderAction("Featured", "Products");}

</div>
