@{
    ViewBag.Title = "Home Page";
}


<div class="home">
    <div class="row styles">
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Hire.Index)" class="hire tile-image">
                <img src="/content/images/home/hire.jpg" />
                Hire
                <em>vintage inspired furniture and prop hire</em>
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Themes.Index)" class="style tile-image">
                <img src="/content/images/home/themes.jpg" />
                Style
                <em>pre-styled themes to inspire, hire and buy</em>
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.RouteUrl(Routes.Buy.Index)" class="buy tile-image">
                <img src="/content/images/home/buy.jpg" />
                Buy
                <em>party supplies, gifts and games</em>
            </a>
        </div>
    </div>

    <hr />

    @{Html.RenderAction("Featured", "Products");}

    <img class="bunting" src="/content/images/BUNTING-06.png" />
    <div class="row">
        <div class="col-4">
            <img class="promotion" src="/content/images/footer/footer1.jpg" />
        </div>
        <div class="col-4">
            <img class="promotion" src="/content/images/footer/footer2.jpg" />
        </div>
        <div class="col-4">
            <img class="promotion" src="/content/images/footer/footer3.jpg" />
        </div>
    </div>

</div>
