@model Vintage.Rabbit.Web.Models.Membership.PageHeaderViewModel


<div class="login-register">
    <div class="triangle left"></div>
    <div class="link-container">
        @if(Model.IsLoggedIn)
        {
            <text>@Html.RouteLink(Model.Email, Routes.Membership.Logout)</text>
        }
        else
        { 
            <text>@Html.RouteLink("Login", Routes.Membership.Login)&nbsp; / &nbsp;@Html.RouteLink("Register", Routes.Membership.Register)</text>
        }
    </div>
</div>
