@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error - Vintage Rabbit";
}

<div class="error">
    <h2>An error occurred while processing your request.</h2>

    <p>It looks like we have done something wrong. Feel free to continue on your way, or if you would like to contact us please click @Html.RouteLink("here", Routes.ContactUs)</p>
</div>

