
@{
    ViewBag.Title = "404 - Vintage Rabbit";
}

<div class="error four-zero-four">
    <div class="row">
        <div class="col-6">
            <img src="/content/images/white_rabbit_alice_in_wonderland_postcards-r484697f717604b969106d7e395917f75_vgbaq_8byvr_512.jpg" />
        </div>
        <div class="col-6">
            <h2>404</h2>
            <p>It looks like someone has taken a wrong turn.</p>
            <p>If you think there should be something here @Html.RouteLink("please let us know", Routes.ContactUs)</p>
            <p>Or lets return to the <a href="/">homepage</a></p>
        </div>
    </div>
</div>

