@{
    ViewBag.Title = "Login / Register";
    Layout = "../Shared/_Layout.cshtml";
}


<div class="gutter contact-us">
    <div class="grid-wrap">
        <div class="col-4 offset1">
            <div class="boxed1">
            <h3>New customers</h3>

            <form>
                <ol>
                    <li>
                        <div class="input-icon">
							<i class="fa fa-envelope"></i>
							<input type="text" placeholder="Email">
				        </div>
                    </li>
                    
                    <li>
                        <div class="input-icon">
							<i class="fa fa-lock"></i>
							<input type="password" placeholder="Password">
				        </div>
                    </li>

                    <li>
                        <div class="input-icon">
							<i class="fa fa-lock"></i>
							<input type="password" placeholder="Confirm password">
				        </div>
                    </li>

                    <li class="submit">
                        <div class="btn primary right">Create account</div>
                    </li>
                </ol>
            </form>
            </div>
        </div>
        <div class="col-1">
            <div class="line">
                <div class="or">Or</div>
            </div>
        </div>
        <div class="col-4">
            <div class="boxed1">
            <h3>Already a member?</h3>

            <form>
                <ol>
                    <li>
                        <div class="input-icon">
							<i class="fa fa-envelope"></i>
							<input type="text" placeholder="Email">
				        </div>
                    </li>

                    <li>
                        <div class="input-icon">
							<i class="fa fa-lock"></i>
							<input type="password" placeholder="Password">
				        </div>
                    </li>
                    
                    <li class="submit">
                        <div class="btn primary right">Login</div>
                    </li>
                </ol>
            </form>
        </div>
        </div>
    </div>
</div>
