@model IList<Vintage.Rabbit.Admin.Web.Models.Blogs.BlogViewModel>
@{
    ViewBag.Title = "Blogs";
}

<div class="page-head">

    <h2>Blog Entries</h2>
    <ol class="breadcrumbs">
        <li><a href="#">Home</a></li>
        <li class="active">Blog entries</li>
    </ol>
</div>



    <div class="main-app">

     
        <div class="items blog-entries">
            @foreach (var blog in Model)
            {
                <div class="item">
                    <h4>
                        @Html.RouteLink(blog.Title, Routes.Blog.View, new { blogId = blog.Id }, new { })
                    </h4>
                    <p class="msg">@Html.Raw(blog.Summary)</p>
                </div>
            }
        </div>
    </div>

<div class="test"></div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.item').on('click', function (event) {
            event.preventDefault();
            event.stopPropagation();
            window.location = $(this).find('a').attr('href');
        });
    });
</script>

