
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="creative-director">


    <div class="row">

        <div class="col-3">
            <img src="/content/images/dale.jpg" />
        </div>
        <div class="col-9">
            <h2>Creative Director - Vintage Rabbit</h2>
            
                
                <strong>Dale Bronts</strong>
            <p>
                "A memory is never fleeting and should be fostered with delicate care. I believe in creating a world for my children that is filled with imaginative play, one that explores the magical characters of my childhood and every decade that inspires them to learn and grow"
            </p>
            <p>
                We know how much time, energy and money can go into creating a memorable party for your beautiful babies that is why we created Vintage Rabbit. To bring to you affordable hire and buy packages that have already been beautifully styled, ready to be delivered to you.
            </p>
                We love designing parties and understand your little one may have something entirely unique they wish to recreate, or you have a wedding or event you simply can’t seem to style just right.
            </p>
            <p>
                Our creative talent is managed by our Creative Director, Dale Bronts who can work with you to collaborate on any design, simple or outrageous, she has the attention to detail and imagination to make it happen. Contact us on <a href="mailto:info@vintagerabbit.com.au">info@vintagerabbit.com.au</a> or via our @Html.RouteLink("contact page", Routes.ContactUs) which the details of your party. all work is charged at an hourly rate to style, deliver and setup.</p>
            <p>
                We would love to collaborate with you so contact us and let’s get creative!
            </p>
</div>
    </div>
</div>

