@{
    ViewBag.Title = "Woodland Faries";
    Layout = "../Shared/_Layout.cshtml";
}



<div class="style gutter">
        <div class="grid-wrap">
        <div class="col-6 col-12-m">
               
            <img src="/content/images/woodland fairies3.jpg" />
                
         
          
        </div>
        <div class="col-6 col-12-m">
            <h2><div class="border"></div>Woodland Faries</h2>
            <div class="description">
                <p>
                    Mmm... we love lollies at Lark! 
                </p>
                <p>
                    In this sweet bottle you'll find lots of yummy Australian-made chocolate freckles.
                </p>
                <p>
                    Perfect for party gifts or little treats, our lollies come packaged in a re-usable Lark Store milk bottle.
                </p>
                <p>
                    200g. approx weight. Plastic milk bottle with lid - removable label.
                </p>
            </div>

            <div class="controls">
                <div class="float-container">
                    <div class="price"><span>$</span>299.95</div>
                </div>
                <div class="float-container">
                    <div class="qty">


        <div class="grid-wrap">
        <div class="col-4 col-12-t">

                        <div class="left">Hire dates</div>
            </div>
        <div class="col-4 col-6-t col-12-m">
                        <div class="date-picker-container">
                            <input type="text" name="startDate" id="startDate" placeholder="From" />
                        <i class="fa fa-calendar"></i>
                        </div>
                        </div>
        <div class="col-4 col-6-t col-12-m">
                        <div class="date-picker-container">
                            <input placeholder="To" type="text" name="endDate" id="endDate" />
                        <i class="fa fa-calendar"></i>
                        </div>
                        </div>
                    </div>
                    </div>
        <div class="grid-wrap">
        <div class="col-12">
                    <div class="right check-availability btn primary">
                        Check availability
                    </div>
                    </div>
                    </div>
                    <div class="add-to-cart btn primary">
                        <i class="fa fa-shopping-cart"></i>
                        Add to cart
                    </div>
                </div>
                
                <div class="delivery">
                    <strong>Delivery</strong>

                    <p>
                        This item will be dispatched within 2-3 business days. Shipping options available at check out include:
                </p>
                <p>
FREE Australia wide usually arrives in 3-7 working days <br />
once dispatched. (Please check delivery note above.)
                    </p>
                </div>

                <div class="border hidden"></div>
            </div>
        </div>
    </div>
</div>
