@{
    ViewBag.Title = "FAQ - Vintage Rabbit";
}


<div class="faq">
    

    <div class="row">
        @{Html.RenderPartial("CategoryList", "about-us");}

        <div class="col-9 about-us">
            <h2>About us</h2>
            <p>
                We are a style emporium dedicated to provide the finest quality items to make your party memorable. We believe in creating memories from imaginative play and hope to bring unique products and ideas to facilitate a simple life. We give you ideas and tools to plan the perfect party for you or your child.
            </p>
            <p>
                Vintage rabbit was born from our love of a time gone by, when fun was imagined.
            </p>
            <p>
                <strong>Dale</strong>
            </p>
            <p>
                <strong>Liza</strong>
            </p>
            <p>

                We want to bring unique earthy products to everyone in a way that combines innovation with quality
            </p>

            <h3>Styling</h3>

            <p>If you are looking for something unique and can’t find what you’re looking for, we would love to hear from you. We can tailor a package and style that’s right for you.</p>

        </div>
    </div>

</div>
