@{
    ViewBag.Title = "Vintage Rabbit - About Us";
}


<div class="faq">
    

    <div class="row">
        @{Html.RenderPartial("CategoryList", "about-us");}

        <div class="col-9 about-us">
            <h2>About us</h2>
            <p>
                Vintage Rabbit evolved from a mutual love of vintage and retro inspired furniture, toys, games and party supplies. Birthday party ideas evolved over the years and having noticed the cost and time involved in creating magical birthday parties they worked together to create something that would foster the whimsical journey through childhood full of exciting memories inspired by past and present.

            </p>
                <h3>Dale</h3>
                <p>Dale Bronts is our Creative Director and often busy sewing, gluing, cutting and painting the most delightful buntings and props for our themes.</p>

                <h3>Liza</h3>
                <p>Liza Simpson is Operations Director and is inspired by all things vintage and retro.</p>

        </div>
    </div>

</div>
