@{
    ViewBag.Title = "FAQ - Vintage Rabbit";
}


<div class="faq">
    

    <div class="row">
        @{Html.RenderPartial("CategoryList", "how-it-works");}

        <div class="col-9 how-it-works">
            <h2>How it works</h2>
            <ul>
                <li>
                    Browse our style page for six easy to re-create themes from our creative director. Click on an image and add to cart, either buy or hire or add all products to your cart
                </li>
                <li>
                    Select a date for your party and all your items (including those you hire and purchase) will be delivered to your door with instructions for setup and styling.
                    (If your date is booked, contact us via our contact page, we may be able to accommodate you)
                </li>
                <li>
                    No need to wash anything, just pack away ion the boxes provided and we will collect your items on the day you have selected.
                </li>
                <li>
                    Alternatively you can arrange to pick up and drop off at our warehouse in McKinnon
                </li>
                <li>
                    Or just browse our products and stock up on all your party needs, we will deliver right to your door for a flat $9.95 delivery. No need to drag the kids from store to store
                </li>
                <li>
                    We can provide a setup and pack down service - please contact us for a quote
                </li>
            </ul>
        </div>
    </div>

</div>
