
@{
    ViewBag.Title = "Vintage Rabbit - Media and Press";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="faq">


    <div class="row">
        @{Html.RenderPartial("CategoryList", "media-and-press");}

        <div class="col-9 media-and-press">
            <h2>Media and Press</h2>

            <p>
                We love what we do and are incredibly proud of the hard work that has gone into creating Vintage Rabbit. A brand that is dedicated to creating a world of unforgettable memories, bringing to life whimsical characters, past and present, and telling a story through our style and products.
            </p>
            <p>If you would like to know more contact us on <a href="mailto:info@vintagerabbit.com.au">info@vintagerabbit.com.au</a></p>
        </div>
    </div>
</div>

