
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="faq">


    <div class="row">
        @{Html.RenderPartial("CategoryList", "media-and-press");}

        <div class="col-9 media-and-press">
            <h2>Media and Press</h2>

        </div>
    </div>
</div>

