
@{
    ViewBag.Title = "Vintage Rabbit - Suppliers";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="faq">


    <div class="row">
        @{Html.RenderPartial("CategoryList", "suppliers");}

        <div class="col-9 suppliers">
            <h2>Suppliers</h2>
            <p>
                Vintage Rabbit are dedicated to providing a marketing platform that is on the fore front of technology. Our mission is to offer customers a seamless process encouraged by creative technology that enhances an enjoyable buying experience.
                We are on the lookout for unique handmade items and trusted brands that supply or distribute only the finest quality vintage and vintage inspired products. We strive to present products in innovative way and look forward to working with likeminded businesses.
            </p>
            <p>
                Please contact Liza on 0423 288 330 or at <a href="mailto:info@vintagerabbit.com.au">info@vintagerabbit.com.au</a>

            </p>
        </div>
    </div>
</div>

