
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="faq">


    <div class="row">
        @{Html.RenderPartial("CategoryList", "suppliers");}

        <div class="col-9 suppliers">
            <h2>Suppliers</h2>

        </div>
    </div>
</div>

