
@{
    ViewBag.Title = "Vintage Rabbit - Terms and Conditions";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="faq">


    <div class="row">
        @{Html.RenderPartial("CategoryList", "terms-and-conditions");}

        <div class="col-9 terms-and-conditions">
            <h2>Terms and Conditions</h2>

            <h3>Hire</h3>
            <ol>
                <li>All bookings will be charged at the time of booking, please see our cancellation policy below for more information</li>
                <li>A minimum hire of $100 is required</li>
                <li>Delivery fees within Melbourne metro are $40 each way. If you require delivery outside of these areas you will be asked to contact us directly for a quote</li>
                <li>There is no need to wash anything, all items will be cleaned by our staff to protect hygiene</li>
                <li>Pack items in the boxes provided for drop off or delivery</li>
                <li>All breakages/chips/loss/damage are charged as per the replacement schedule (outlined below) and must be reported to the hirer within 3 days of return</li>
                <li>Vintage rabbit will not accept responsibility for damage or injury caused to person or product as a result of the hire arrangement, unless negligence on the part of vintage rabbit can be proven.</li>
            </ol>
            <p><strong>Replacement schedule</strong></p>
            <p>
                All items must be returned in the condition they were delivered. A schedule of replacement fees will be e-mailed to you during the booking process; in the event of damage to any of our hire products the fee outlined in the schedule is payable within 30 days.
            </p>
            <p><strong>Cancellation</strong></p>
            <p>
                All cancellations must be made a minimum of 3 days of the prior to the event booking, anything within this period will be charged a 25% fee of the total cost of goods.
            </p>

            <h3>Purchase</h3>
            <p class="component"><strong>1. Refund/Returns policy</strong></p>
            <p>
                If for any reason you are not completely satisfied with your purchase we will give you a 30 day money-back guarantee from the time you receive the goods. Please email us at info@vintagerabbit.com.au within that time if you are not satisfied with your purchase so that we can resolve any problems.
            </p>
            <p>
                This refund policy does not apply to goods which have been worn or used, damaged after delivery, or if any attempt has been made to alter the product or if they have been dropped or broken. All products must be returned in their original condition. All postage and insurance costs are to be paid by the buyer.
            </p>
            <p>
                We recommend that you return the product via Registered post and that you pre pay all postage. You assume any risk of lost, theft or damaged goods during transit and therefore advise you take out shipment registration of insurance with your postal carrier. Vintage Rabbit will not be responsible for parcels lost or damaged in transit if you choose not to insure.
            </p>


            <p class="component"><strong>2. Delivery policy</strong></p>
            <p>
                After ordering online, you will receive an email confirmation from eWAY containing your order details (if you have provided your email address). We will normally confirm receipt of your order within a few minutes of ordering.
            </p>
            <p>
                We will attempt to send your goods via Australia post eparcel within
                10 working days; however if goods are unavailable delivery will take a little longer. You will be notified of any delays to the e-mail address provided.
            </p>
            <p>
                If you wish to query a delivery please contact us at info@vintagerabbit.com.au.
            </p>
        </div>
    </div>
</div>






