

.promotions
{
.highlight 
{ 
    margin-top: @gutter * 2;   min-height: 87px;
    .content
    {
        padding: 15px 0px 15px 0px; position: relative;
        h3 { color: #333333; }
        i { color: #333333; font-size: 1.3em; }
        img { position: absolute; top: 0px; right: 0px; height: 100%; }
        a { font-size: 0.7em; display: block; margin: 5px 0px 0px 27px; }

    }
    .border-colour 
    { 
        width: 100%; height: 6px;
        /*&.yellow { background: #FFCC00;}
        &.green { background: #669966; }
        &.pink { background: #993366; }*/
        &.yellow { background: #ffffff;}
        &.green { background: #ffffff; }
        &.pink { background: #ffffff; }
    }
}

@media (max-width: @tablet) 
{
    .highlight 
    {
        padding: @gutter / 2;
    }

}
}
