<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="${basedir}/App_Data/NLog.log">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
    <!--<target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />-->

    <target xsi:type="Database" name="database" connectionStringName="VintageRabbit">
      <commandText>
        Insert Into [VintageRabbit].[SystemLog]
        ([Timestamp], [ServerName],[LogLevel],[Logger],[Message],[ExceptionType],[ExceptionMessage],[StackTrace],[Url],[Referer],[Application],[State])
        values
        (@createDate, @serverName, @logLevel, @logger, @message, @exceptionType, @exceptionMessage, @stackTrace, @url, @referer, @app, @state);
      </commandText>
      <parameter name="@createDate" layout="${date:format=dd MMMM yyyy HH\:mm\:ss.fff}"/>
      <parameter name="@app" layout="SellerWeb"/>
      <parameter name="@serverName" layout="${machinename}"/>
      <parameter name="@logLevel" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@exceptionType" layout="${exception:format=type}"/>
      <parameter name="@exceptionMessage" layout="${exception:format=Message}"/>
      <parameter name="@stackTrace" layout="${exception:format=StackTrace}${newline}" />
      <parameter name="@url" layout="${aspnet-request:serverVariable=Url}"/>
      <parameter name="@referer" layout="${aspnet-request:serverVariable=HTTP_REFERER}"/>
      <parameter name="@state" layout="${event-context:item=State}" />
    </target>
    
    <!--
    <target xsi:type="Database" name="database" connectionString="VintageRabbit">

      <commandText>
        insert into SystemLog ([CreateDate], [Origin], [LogLevel], [Message], [Exception], [StackTrace]) values (@createDate, @origin, @logLevel, @message, @exception, @stackTrace);
      </commandText>
      <parameter name="@createDate" layout="${longdate}"/>
      <parameter name="@origin" layout="${callsite}"/>
      <parameter name="@logLevel" layout="${level}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@exception" layout="${exception:format=Message,StackTrace}"/>
      <parameter name="@stackTrace" layout="${stacktrace}"/>
    
    </target>
    -->
  </targets>

  <rules>

    <!--<logger name="*" minlevel="Trace" writeTo="f" />-->
    <logger name="*" minLevel="Error" appendTo="database"/>
    <!-- add your logging rules here -->
    
    <!--
    <logger name="*" minLevel="Error" appendTo="database"/>
    -->
  </rules>
</nlog>