<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK"/>
  </configSections>
  
  <connectionStrings>
    <add name="VintageRabbit" connectionString="Server=tcp:jb68d1a41k.database.windows.net,1433;Database=Castlerock-2013-11-27-20-3;User ID=Brontsy@jb68d1a41k;Password=Zest2517;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="BlobStorageConnectionString" value="DefaultEndpointsProtocol=http;AccountName=vintagerabbit;AccountKey=f9/i6FKu+k0I5SwQmW7HMmunJ6W52M75W5QWNcG2jcSGHgKRBnc3c+FmC6d1Avn/rEp4SGG8tTK0NbtUnQOT/Q==" />
    <add key="SendGrid.Username" value="azure_d9400eed0eab0750ed35123aa76a6c1c@azure.com" />
    <add key="SendGrid.Password" value="ip7UL1H6poM8ioA" />
    <add key="PayPal_Username" value="info-facilitator_api1.vintagerabbit.com.au" />
    <add key="PayPal_Password" value="1404523585" />
    <add key="PayPal_Key" value="AFcWxV21C7fd0v3bYYYRCpSSRl31AweJ2qHQ-DEqGsOSrg5E1PcgtRO." />
    <add key="PayPal_Url" value="https://api.sandbox.paypal.com" />
    <add key="PayPal_IsSandbox" value="false
         " />
    <add key="PayPal_ClientId" value="AWzJtBD2RdyYktyOA-5LtZFV59dtnfnJhDfJo2mm9g0_MmsyqH7o8TUrgc9g" />
    <add key="PayPal_Secret" value="EPo0xBA70oDWLydsjqYsO3DgFL7uRWX-Oif5sN3BM209kOkzkXktZHOEyarf" />
    <add key="Website_Url" value="http://dev.vintage-rabbit.com.au" />
    <add key="Eway_Url" value="https://api.sandbox.ewaypayments.com" />
    <add key="Eway_Auth" value="Basic NDRERDdDY1ZrWFhYeng4ejZ3M1VhbXRoekxVRFMwL2k3dDRWc2JsSitISDlsRjMvMmYvOFExSHdDWjl4UGoySWZzWVozTjp2MW50YWczUmFiYml0" />
    <add key="IsLive" value="false" />
  
  </appSettings>

  
  <paypal>
    <accounts>
      <account apiUsername="info-facilitator@vintagerabbit.com.au" apiPassword="" applicationId="" apiSignature="" />
    </accounts>
    <settings>
      <add name="mode" value="sandbox" />
    </settings>
  </paypal>
  
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers>
      <!--<rewrite>
          <rules>
              <rule name="CanonicalHostNameRule1">
                  <match url="(.*)" />
                  <conditions>
                      <add input="{HTTP_HOST}" pattern="^www\.vintagerabbit\.com\.au$" negate="true" />
                  </conditions>
                  <action type="Redirect" url="http://www.vintagerabbit.com.au/{R:1}" />
              </rule>
          </rules>
      </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <dotless minifyCss="false" cache="true" web="false" />
</configuration>