            

    <div class="large-images">
         <div class="grid-wrap">
            <div class="col-4 col-12-m">
                
                <a class="tile-image hire" href="@Url.RouteUrl(Routes.Hire)">
                    <img src="/content/images/Toffee-Apples.jpg" />
                    <em>Hire</em>
                </a>
            </div>
            <div class="col-4 col-12-m">
                <a class="tile-image style" href="@Url.RouteUrl(Routes.Style)">
                    <img src="/content/images/Birthday-Party-Supplies.jpeg" />
                    <em>Style</em>
                </a>
            </div>
            <div class="col-4 col-12-m">
                <a class="tile-image buy" href="@Url.RouteUrl(Routes.Buy)">
                    <img src="/content/images/Soccer-dessert-table.jpg" />
                    <em>Buy</em>
                </a>
            </div>
        </div>
    </div>
