            

    <div class="large-images">
         <div class="grid-wrap">
            <div class="col-4 col-12-t">
                <div class="image-container">
                    <div class="style"></div>
                </div>

                <div class="link-container">
                    <div class="highlight"></div>
                    @Html.RouteLink("Styles", Routes.Styles)
                    <p>We have 6 different party themes to choose from.
                    Let us look after the styling of your childs birthday!</p>
                </div>

            </div>
            <div class="col-4 col-12-t">
                <div class="image-container">
                    <div class="hire"></div>
                </div>
                <div class="link-container">
                    <div class="highlight"></div>
                    @Html.RouteLink("Hire", Routes.Hire)
                    <p>Need something extra?
                    We have lots of items for hire, ranging cups through to large tables.</p>
                </div>
            </div>
            <div class="col-4 col-12-t">
                <div class="image-container">
                    <div class="buy"></div>
                </div>
                <div class="link-container">
                    <div class="highlight"></div>
                    @Html.RouteLink("Buy", Routes.Buy)
                    <p>Games, Party Supplies and Gifts
                    We have 100's of products for you to choose from.</p>
                </div>
            </div>
        </div>
    </div>
