            

    <div class="large-images">
         <div class="grid-wrap">
            <div class="col-4 col-12-m">
                
                <a class="tile-image hire" href="@Url.RouteUrl(Routes.Hire)">
                    <img src="/content/images/Toffee-Apples.jpg" />
                    <em>Hire</em>
                </a>
            </div>
            <div class="col-4 col-12-m">
                <a class="tile-image style" href="@Url.RouteUrl(Routes.Style)">
                    <img src="/content/images/Birthday-Party-Supplies.jpeg" />
                    <em>Style</em>
                </a>
            </div>
            <div class="col-4 col-12-m">
                <a class="tile-image buy ribbon" href="@Url.RouteUrl(Routes.Buy)">
                    <img src="/content/images/Soccer-dessert-table.jpg" />
                    <em>Buy</em>
                </a>
                <div class="ribbon hidden"><h3>Hire</h3></div>
                <div id="wraparound " class="hidden">
			<p>This wrap-around banner effect contains no unneccessary markup, and uses padding + negative margins to align the content with its parent element. The illusion of depth is achieved by using the :before and :after selectors. The triangles are created with border corners, where an opaque border meets a transparent border.</p>
			<p>As far as I know, there is no simpler way to achieve this effect. Hope you can use it!</p>
			<p><strong>Do say hi on Twitter: <a href="http://twitter.com/asgeirhoem">asd</a> or visit my <a href="http://www.asgeirhoem.no/">portfolio</a>.</strong></p>
		</div>
            </div>
        </div>
    </div>
