@model Vintage.Rabbit.Admin.Web.Models.Products.ProductListViewModel
@{
    ViewBag.Title = "List";
}

<div class="page-head">

    @Html.RouteLink("Add Product", Routes.Products.AddProduct, new { }, new { @class = "btn primary right" })
    <h2>Products available for <strong>purchase & hire</strong></h2>
    <ol class="breadcrumbs">
        <li><a href="#">Home</a></li>
        <li class="active">Products</li>
    </ol>
</div>



    <div class="main-app">

     
        <div class="items products product-list">
            <ol class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-2">
                        <div class="item">
                            <div class="product-image">
                                <div class="container">
                                    <img src="@product.Image.Thumbnail">
                                </div>
                            </div>
                            <h4>
                                @Html.RouteLink(product.Title, Routes.Products.Edit, new { name = product.UrlTitle, productId = product.Id }, new { })
                            </h4>
                            <p class="price">@product.Cost</p>
                        </div>
                    </div>
                }
            </ol>            
            @{Html.RenderPartial("Pagination", Model.Pagination);}
        </div>
    </div>

<div class="test"></div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.item').on('click', function (event) {
            event.preventDefault();
            event.stopPropagation();
            window.location = $(this).find('a').attr('href');
        });
    });
</script>

