
@{
    ViewBag.Title = "Catering Partners - Vintage Rabbit";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="catering-partners">


    <div class="row">

        <div class="col-12">
            <h2>Catering Partners</h2>


            <p>
                "We love parties, and everything that they involve! This is why we have done the leg-work for you to be able to create that perfect event, with no stone unturned! The following catering partners will impress you with not only their talent to make things taste delicious, but also with beautiful style to match!"
            </p>

            <h2 class="partner">The Cake Stop</h2>
            <a target="_blank" href="http://www.thecakestop.com.au">www.thecakestop.com.au</a>


            <h2 class="partner">Miss Biscuit</h2>
            <a target="_blank" href="http://www.missbiscuit.com.au">www.missbiscuit.com.au</a>

            </div>
    </div>
</div>

