@{
    ViewBag.Title = "Hire";
    Layout = "../Shared/_Layout.cshtml";
}


<div class="gutter hire">
    <div class="grid-wrap">
        <div class="col-6">
            <h3>Hire</h3>
            <p>Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing</p>
            <p>Please enter your postcode below.</p>

            <form>
                <ol class="grid-wrap">
                    <li class="col-6">
                        <div class="input-icon">
							<i class="fa fa-user"></i>
							<input type="text" placeholder="Postcode">
				        </div>
                    </li>
                
                    <li class="col-3">
                        @Html.RouteLink("Search", Routes.Hire, new {}, new { @class = "btn primary" })
                    </li>
                </ol>
            </form>

        </div>

        <div class="col-5">
            
        </div>
    </div>
</div>

