@{
    ViewBag.Title = "Checkout";
}


<div class="checkout shipping-information">
    
    <h2>Shipping Information</h2>

    @using(Html.BeginRouteForm(Routes.Checkout.ShippingInformation, new {}, FormMethod.Post, new {}))
    {
        
    }

</div>
