



@font-face{ 
	font-family: 'HoneyScriptSemiBold';
	src: url('/content/fonts/honey-script/HoneyScriptSemiBold.eot');
	src: url('/content/fonts/honey-script/HoneyScriptSemiBold.eot?iefix') format('eot'),
	     url('/content/fonts/honey-script/HoneyScriptSemiBold.woff') format('woff'),
	     url('/content/fonts/honey-script/HoneyScriptSemiBold.ttf') format('truetype'),
	     url('/content/fonts/honey-script/HoneyScriptSemiBold.svg#webfont') format('svg');
}


@font-face{ 
	font-family: 'TypicalWriter';
	src: url('/content/fonts/typical-writer/typiw___-webfont.eot');
	src: url('/content/fonts/typical-writer/typiw___-webfont.eot?iefix') format('eot'),
	     url('/content/fonts/typical-writer/typiw___-webfont.woff') format('woff'),
	     url('/content/fonts/typical-writer/typiw___-webfont.ttf') format('truetype'),
	     url('/content/fonts/typical-writer/typiw___-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'a-little-sunshine';
	src: url('/content/fonts/a-little-sunshine/a-little-sunshine-webfont.eot');
	src: url('/content/fonts/a-little-sunshine/a-little-sunshine-webfont.eot?iefix') format('eot'),
	     url('/content/fonts/a-little-sunshine/a-little-sunshine-webfont.woff') format('woff'),
	     url('/content/fonts/a-little-sunshine/a-little-sunshine-webfont.ttf') format('truetype'),
	     url('/content/fonts/a-little-sunshine/a-little-sunshine-webfont.svg#webfont') format('svg');
}