



@font-face{ 
	font-family: 'HoneyScriptSemiBold';
	src: url('/content/fonts/honey-script/HoneyScriptSemiBold.eot');
	src: url('/content/fonts/honey-script/HoneyScriptSemiBold.eot?iefix') format('eot'),
	     url('/content/fonts/honey-script/HoneyScriptSemiBold.woff') format('woff'),
	     url('/content/fonts/honey-script/HoneyScriptSemiBold.ttf') format('truetype'),
	     url('/content/fonts/honey-script/HoneyScriptSemiBold.svg#webfont') format('svg');
}


@font-face{ 
	font-family: 'TypicalWriter';
	src: url('/content/fonts/typical-writer/TYPIW___.ttf') format('truetype');
}
@font-face{ 
	font-family: 'Journal';
	src: url('/content/fonts/journal/Journal.ttf') format('truetype');
}
@font-face{ 
	font-family: 'smudgie-crayon';
	src: url('/content/fonts/smudgie-crayon/Smudgie-Crayon.ttf') format('truetype');
}