

.footer {
    background: #eeeeee;
    min-height: 20px;
    padding: 20px 0px 20px 0px;
    padding-bottom: 120px;
    border-top: 1px solid #cccccc;
    margin-top: 50px;
    font-size: 14px;
    font-style: normal;
    color: #666666;
    line-height: 20px;

    .footer-links {
        .page-content();

        h3 {
            text-transform: uppercase;
            font-size: 18px;
            border-bottom: 1px solid #333333;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }

        ul {
            li {
                a {
                    color: #333333 !important;
                }
            }
        }
    }
}
