


header {
    .page-content();
    margin-top: 10px;

    h1 {
        a {
            line-height: 46px;
            font-size: 26px;
            color: #333333;
            font-weight: bold;
            background: url(/content/images/logo.png) no-repeat;;
            height: 140px;
            width: 275px;
            display: block;
            text-indent: -9999px;
            margin-bottom: 10px;

            &:hover {
                text-decoration: none;
            }

            span {
                color: #669966;
            }
        }
    }

    .login-register {
        text-align: right;
        margin-top: 5px;
        width: 220px;
        float: right;
        clear: both;
        .link-container {
            background: #ccc;
            line-height: 22px;
            color: #fff;
            height: 24px;
            text-align: center;
            width: 100%;

            a {
                color: #fff;
                font-family: 'TypicalWriter', Arial;
                font-size: 16px;
            }
        }

        .triangle {
            margin-right: -1px;
            background: #ccc;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 12px 0 12px 12px;
            border-color: transparent transparent transparent #fff;
        }

        &:hover {
            .link-container {
                background: @green;
            }

            .triangle {
            background: @green;
            }
        }
    }

    .right-header-container
    {
        width: 250px;
        float: right;
    }
}

nav {
    .page-content();

    ol {
        height: 48px;
        margin-top: 5px;
        border-top: 1px dotted #666666;
        border-bottom: 1px dotted #666666;

        > li {
            text-align: center;
            position: relative;
            float: left;
            padding-left: 35px;
            padding-right: 30px;

            &:first-child {
                padding-left: 25px;
            }

            &:last-child {
                padding-right: 15px;
            }

            > a {
                color: #555555;
                text-transform: lowercase;
                display: block;
                padding: 0px;
                transition: all 0.15s linear .1s;
                font-family: 'TypicalWriter', 'FontleroyBrown', Arial, sans-serif;
                font-size: 20px;
                height: 48px;
                line-height: 48px;
            }

            ul {
                display: none;
                position: absolute;
                z-index: 10;
                background: #ffffff;
                width: 180px;
                border: 1px solid #bbbbbb;
                border-top: none;
                top: 46px;
                left: 0px;
                background: #ffffff;
                z-index: 20;
                display: none;

                &.themes-subnav {
                    left: -20px;
                }

                &.hire-subnav {
                    left: 0px;
                }

                &.party-supplies-subnav {
                    left: 28px;
                }

                &.faq-subnav {
                    left: -54px;
                }

                li {
                    a {
                        padding: 10px 10px 10px 10px;
                        background: #ffffff;
                        cursor: pointer;
                        border-top: 1px solid #cccccc;
                        color: #333333;
                        display: block;
                        font-family: 'TypicalWriter', 'FontleroyBrown', Arial, sans-serif;

                        &:hover {
                            color: @blue;
                            background: darken(#ffffff, 5%);
                            text-decoration: none;
                        }
                    }


                    &.selected {
                        color: @blue;
                    }

                    &:first-child {
                        a {
                            border-top: none;
                        }
                    }
                }
            }

            &:hover {
                > a {
                    color: @green;
                    text-decoration: none;
                }
            }


            &.active {
                ul {
                    display: block;
                }
            }
        }
    }
}



@media only screen and (max-width: @desktop) 
{
    
nav {
  
    ol {
        > li {
           
            float: left; padding-left: 30px; padding-right: 27px;
            &:first-child {padding-left: 25px;}
            &:last-child {padding-right: 15px;}
           
        }
    }
}

}