

.featherlight-content {
    .shopping-cart {
        position: static;
        float: none;
        margin-top: 0px;
        min-width: 800px;

        .container {
            display: none;
        }

        .cart-content {
            display: block !important;
            position: static;
            width: 100%;
            margin: 0px; border: none;
            h2 { display: block; }
        }
    }
}


    .shopping-cart {
        .clearfix();
        position: relative;
        float: right;
        margin-top: 55px;

        .container {

            .triangle {
                margin-right: -1px;
                background: #ccc;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 12px 0 12px 12px;
                border-color: transparent transparent transparent #ffffff;
                float: left;
            }


            .item-count {
                width: 208px;
                background: #ccc;
                border: 1px solid #ccc;
                height: 24px;
                border-bottom: none;
                padding: 0px 10px 0px 10px;
                color: #ffffff;
                text-align: center;
                position: relative;
                float: left;
                line-height: 22px;

                span {
                    font-family: 'TypicalWriter', Arial;
                    font-size: 16px;
                }
            }

            &:hover {
                cursor: pointer;
 
            .triangle {
                background: @green;
            }

                .item-count
                {
                background: @green;border: 1px solid @green;
                }
            }

            &.active {
                .item-count {
                    background: #ffffff;
                    border: 1px solid #333333;
                    border-bottom: none;
                    color: #333333;
                    z-index: 91;
                    height: 30px;
                    margin-top: -6px;
                    padding-top: 6px;
                }

                .triangle {
                    display: none;
                }
            }
        }


        .cart-content {
            position: absolute;
            width: 700px;
            top: 23px;
            right: 0px;
            background: #ffffff;
            margin-left: -200%;
            z-index: 90;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #666666;
            border-right: 1px solid #666666;
            border-bottom: 1px solid #666666;
            h2 { display: none;font-size: 28px;
            font-family: 'TypicalWriter', Arial; }
            ul {
                li.item-header {
                    font-weight: bold;
                    border-top: none;
                    padding-bottom: 5px;
                }

                li.total {
                    font-weight: bold;
                    padding-bottom: 5px;
                    text-align: right;
                }

                li.checkout {
                    border-top: none;
                }

                li {
                    border-top: 1px solid #dddddd;
                    padding: 15px 15px 10px 15px;
                    font-size: 13px;
                    line-height: 18px;

                    .price {
                        text-align: right;
                    }

                    i {
                        color: @red;
                        cursor: pointer;

                        &:hover {
                            color: darken(@red, 10%);
                        }
                    }

                    input {
                        height: 24px;
                        width: 24px;
                        text-align: center;
                        font-size: 14px;
                        line-height: 24px;
                        margin-top: -5px;
                    }
                }
            }
        }

        .item-count {
        }
    }


.checkout {
    .shopping-cart {
        .cart-content {
            background: #ffffff;
            z-index: 90;
            font-size: 14px;

            ul {
                li.item-header {
                    font-weight: bold;
                    border-top: none;
                    padding-bottom: 5px;
                }

                li.total {
                    font-weight: bold;
                    padding-bottom: 5px;
                    text-align: right;
                }

                li.checkout {
                    border-top: none;
                }

                li {
                    border-top: 1px solid #dddddd;
                    padding: 15px 15px 10px 15px;
                    font-size: 13px;
                    line-height: 18px;

                    .price {
                        text-align: right;
                    }

                    i {
                        color: @red;
                        cursor: pointer;

                        &:hover {
                            color: darken(@red, 10%);
                        }
                    }

                    input {
                        height: 24px;
                        width: 24px;
                        text-align: center;
                        font-size: 14px;
                        line-height: 24px;
                        margin-top: -5px;
                    }
                }
            }
        }
    }
}