



            <div class="grid-wrap">
                <div class="col-12 col-12-t">
                    <div class="highlight">
                        <div class="border-colour pink"></div>
                        <div class="col-4 col-12-t">
                            <div class="content">
                                <h3>
                                    <i class=" fa fa-truck"></i>
                                    Free delivery over $100
                                    <em>Australia wide</em>
                                </h3>
                            </div>
                        </div>
                        
                        
                        <div class="col-4 col-12-t">
                            <div class="content">
                                <h3>
                                    <i class="fa fa-question-circle"></i>
                                    Have a question?
                                    <em>Give us a call any time on 13 41 41</em>
                                </h3>
                            </div>
                        </div>
                        
                        <div class="col-4 col-12-t">
                            <div class="content">
                                <h3>
                                    <i class="fa fa-question-circle"></i>
                                    Another promotion
                                    <em>Extra text related to the promotion</em>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                