

.large-images {

    margin-top: @gutter;
    .image-container-3 { height: 400px; margin-top: @gutter; position: relative;
        a { display: block; position: absolute; left: 0px; bottom: 0px; text-align: center; background: rgba(0,0,0,0.8); width: 100%; padding: 15px 0px 15px 0px; color: #ffffff; border-top: 1px solid #ffffff; }
        img { display: block; }

        &.style { background: url(/content/images/Birthday-Party-Supplies.jpeg) no-repeat; background-position: -695px -415px; }
        &.hire { background: url(/content/images/Toffee-Apples.jpg) no-repeat; background-position: -100px center; }
        &.buy { background: url(/content/images/Soccer-dessert-table.jpg) no-repeat; background-position: center -100px; }
    }

    .link-container-3 {
        .highlight { background: #993366; float: left; width: 2%; display: none; }
        a { display: block; text-align: center; color: #fff; line-height: 42px; background: #333333; margin-top: 1px; padding: 0px 20px 0px 20px; transition: all 0.15s linear 0s;
            &:hover { background: #222222; }
        }
        p { color: #fff; font-size: 12px; text-align: center; line-height: 22px; }
    }

    .tile-image {
        img { width: 100%; display: block; display: none; }
        em { display: block; border-top: 1px solid #ffffff; text-align: center; font-style: normal; color: #fff; line-height: 42px; background: #333333; margin-top: 1px; padding: 0px 20px 0px 20px; transition: all 0.15s linear 0s; }
        padding-top: 400px; display: block; margin: 0px;
        
        &.style { background: url(/content/images/Birthday-Party-Supplies.jpeg) no-repeat; background-position: -695px -415px; }
        &.hire { background: url(/content/images/Toffee-Apples.jpg) no-repeat; background-position: -100px top; }
        &.buy { background: url(/content/images/Soccer-dessert-table.jpg) no-repeat; background-position: center 0px; }

        &:hover {
            text-decoration: none;
            em { background: #222222; }
        }
    }
}


@media only screen and (max-width: @mobile) 
{
    
.large-images {


    .tile-image { margin-bottom: 30px;
    }
}
}

/*
#wraparound { position: relative; padding: 20px 30px; margin: 0 -30px 0 -30px; }
#wraparound:before,
#wraparound:after { content: " "; border-top: 10px solid @green; position: absolute; bottom: -10px; }
#wraparound:before { border-left: 10px solid transparent; left: 0; }
#wraparound:after { border-right: 10px solid transparent; right: 0; }

.ribbon2
{
	position: relative;
	width: 50%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 9px 20px 9px 70px;
	margin: 30px 10px 10px -70px;
	color: #ffffff;
	background-color: #333;
	-webkit-box-shadow: 0px 2px 2px #000;
	-moz-box-shadow: 0px 2px 2px #000;
	box-shadow: 0px 2px 2px #000;
    position: absolute;
    top: 190px; left:184px;
    width: 200px;
}
.ribbon2:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #000 #000 transparent transparent;
}

.ribbon2:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: -2px;
	top: 0px;
	border-color: transparent #ff0000 transparent transparent;
}

.ribbon {
    width: 350px;
    margin: 10px auto;
    padding: 0 10px 0;
    position: relative;
    color: #444;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.ribbon em {
    display: block;
    height: 30px;
    line-height: 1.3;
    width: 360px;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    left: -16px;
    top: 8px;
    color: #cfcfcf;
    text-shadow: 0 1px 1px #111;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #202020;
    background: @blue;

    border-radius: 2px 2px 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.ribbon em::before,
.ribbon em::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -11px;
    z-index: -10;
    border: 5px solid;
    border-color: #242424 transparent transparent transparent;    
}
.ribbon em::before {left: 0;}
.ribbon em::after {right: 0;}*/