


.box-container 
{
    border: 1px solid #cccccc;
    background: #eeeeee;
    padding: 15px 20px 15px 20px;

    i { width: 30px; }
    h3 { font-size: 18px; 
         em { font-size: 12px; padding-left: 30px;}
    }
}

@media (max-width: @tablet) 
{
.box-container  
    {
        padding: @gutter / 2;
    }

}

