

.lightbox-content
{
    .hire-product-detail
    {
        .breadcrumbs { display: none;}
    }
}


.hire-product-detail {
    margin-top: 20px;
    .page-content();
    background: #fff;
    position: relative;

    &.featherlight-inner
        {
        margin-top: 0px;
    }

    .image-container {
        img {
            width: 100%;
            display: block;
        }

        .thumbnails {
            width: 100%;
            overflow: hidden;
            margin-top: 5px;

            li {
                border: 1px solid #ffffff;
                padding: 2px;
                width: 100px;
                float: left;
                margin: 0px 0px 0px 2px;

                &:first-child {
                    margin-left: 0px;
                }

                &:hover {
                    border: 1px solid #cccccc;
                    cursor: pointer;
                }
            }
        }
    }

    h2
        {
            font-size: 28px;
            font-family: 'TypicalWriter', Arial;
    }
    .description {
        p {
            margin: 10px 0px 20px 0px;
            white-space: pre-wrap;
            font-size: 24px;
            line-height: 32px;
            font-family: 'a-little-sunshine', Arial;
        }
    }







    .price {
        font-size: 36px;
        position: relative;
        margin-top: 25px;

        span {
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }

    .delivery {
        margin-top: 20px;
    }
}

.hire-form
{
    .help-text { min-height: 40px; }
}


.postcode-check {
}

    .add-to-cart-form {
        .available-text {
            display: block;
        }

        .added-to-cart {
            display: none;
        }

        &.in-cart {

            .available-text {
                display: none;
            }

            .added-to-cart {
                display: block;
            }
        }

        .add-to-cart-container {

            select {
                height: 36px;
                width: 55px;
                text-align: center;
                font-size: 18px;
                line-height: 36px;
                text-align: center;
                padding-left: 5px;
            }
        }
    }

.check-availability {


    .hire-available {
    }

    .unavailable-text {
        display: none;
    }

    &.unavailable {
        .unavailable-text {
            display: block;
        }
    }
    /*
    input {
    }

    .check-availability-button {
        width: 100%;
    }

    .add-to-cart-container {
        display: none;
    }

    .added-to-cart {
        display: none;
        margin-top: 10px;
    }

    .unavailable-text {
        display: none;
        margin-top: 10px;
    }

    .available-text {
        display: none;
        margin-top: 10px;
    }

    &.available {
        .add-to-cart-container {
            display: block;
        }

        .check-availability-button {
            display: none;
        }

        .available-text {
            display: block;
        }
    }

    &.unavailable {
        .unavailable-text {
            display: block;
        }
    }

    &.in-cart {

        .available-text {
            display: none;
        }

        .add-to-cart-container {
            display: block;
        }

        .added-to-cart {
            display: block;
        }
    }
    */
}