
.product-list-item1 {
    background: #fefefe;
    padding: 2px;
    border: 1px solid #ffffff;
    cursor: pointer;
    .box-shadow(2px 2px 3px 0px rgba(50, 50, 50, 0.25));
    position: relative;

    &:hover {
        border: 1px solid #dddddd;

        .details {
            opacity: 1;
        }
    }

    .details {
        opacity: 0;
        position: absolute;
        bottom: 0px;
        background: rgba(0,0,0, 0.7);
        width: 100%;
        height: 100%;
        padding-top: 20px;

        h4 {
            color: #ffffff;
        }
    }


    h4 {
        margin-top: 35px;
        position: absolute;
        bottom: 34px;
            width: 100%;

        a {
            font-size: 12px;
            text-align: center;
            width: 100%;
            display: block;
            color: #ffffff;
            padding: 0px 5px 0px 5px;

            &:hover {
                text-decoration: none;
            }
        }

        line-height: 18px;
    }

    .price {
        position: absolute;
        top: 2px;
        right: 2px;

        .price-text {
            font-size: 12px;
            text-align: right;
            color: #333333;
            background: #cccccc;
            line-height: 20px;
            height: 20px;
            float: left;
            padding: 0px 10px 0px 15px;
                transition: all 0.15s linear 0s;
        }

        .triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 10px 0;
            border-color: transparent #cccccc transparent transparent;
            float: left;
                transition: all 0.15s linear 0s;
        }
    }

    .add-to-cart2 {
        position: absolute;
        top: 24px;
        right: 2px;

        .add-to-cart-text {
            font-size: 12px;
            text-align: right;
            color: #333333;
            background: #cccccc;
            line-height: 20px;
            height: 20px;
            float: left;
            padding: 0px 10px 0px 15px;
                transition: all 0.15s linear 0s;
        }

        .triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 10px 0;
            border-color: transparent #cccccc transparent transparent;
            float: left;
                transition: all 0.15s linear 0s;
        }

        &:hover {
            .add-to-cart-text {
                color: #ffffff;
                background: @green;
            }
            .triangle {
                border-color: transparent @green transparent transparent;
            }
        }
    }


    .product-controls {
        padding: 0px 10px 0px 10px;
        font-size: 12px;
        height: 24px;
        line-height: 24px;
        background: @green;
        position: absolute;
        bottom: 2px; left: 2px; right: 2px;
        a {
            font-size: 12px;
            color: #ffffff;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .we-love {
        background: #333;
        position: absolute;
        top: 124px;
        right: 2px;
        color: #ffffff;
        font-size: 12px;
        padding: 2px 20px 2px 20px;

        .start {
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 8px 0 8px 6px;
            border-color: transparent transparent transparent #ffffff;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }
}







.product-list-item2 {
    background: #fefefe;
    padding: 2px;
    border: 1px solid #ffffff;
    cursor: pointer;
    .box-shadow(2px 2px 3px 0px rgba(50, 50, 50, 0.25));
    position: relative;

    &:hover {
        border: 1px solid #dddddd;

        .details {
            opacity: 1;
        }
    }


    .details 
    { 
        opacity: 0;
        position: absolute;
        background: rgba(204, 204, 204, 0.7);
        width: 100%;
        height: 100%;
        top: 0px; left: 0px;
        .container 
        { 
           position: absolute; bottom: 2px; width: 100%; 

        }
        
        h4 
        {
            a { font-size: 14px; text-align: center; margin: 10px 0px 10px 0px; font-weight: bold; display: block;
                &:hover {text-decoration: none; color: #333; }
            }
        }
        
        .price 
        {
            font-size: 14px; text-align: center; margin: 10px 0px 10px 0px; font-weight: bold;color: #333; 
        }

    .product-controls {
        border-top: 1px solid #ffffff;
        padding: 5px 0px 5px 0px;
        margin: 0px 10px 0px 10px;
        font-size: 12px;
        height: 24px;
        line-height: 24px;
        a {
            font-size: 12px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    }
}
