
.product-list-item {
    background: #fefefe;
    padding: 2px;

    .box-shadow(0 1px 2px 0 rgba(0,0,0,0.3));

    h4 {
        margin-top: 2px;
        a {
            font-size: 12px;
            text-align: center;
            width: 100%;
            display: block;
        }
        line-height: 18px; height: 39px; overflow: hidden;

    }

    .price {
        font-size: 15px; text-align: center; margin-top: 10px;
    }

    .product-controls
    {
        border-top: 1px solid #cccccc; margin: 10px 10px 0px 10px; padding: 10px 0px 10px 0px; font-size: 12px; height: 33px;
        a 
        { font-size: 12px; 
          &:hover { text-decoration: none; color: @blue;}
        }
    }
}
