@model IList<Vintage.Rabbit.Web.Models.Blogs.BlogViewModel>
@{
    ViewBag.Title = "Blog";
}



<div class="blog">

    <div class="row">
        <div class="col-8 blog-entries">
            @foreach (var blog in Model)
            {
                <div class="item">
                    <h2>@blog.Title</h2>
                <p class="msg">@Html.Raw(blog.Content)</p>
            </div>
            }
        </div>
    </div>

</div>