


.checkout-register-page {
    .page-content();
    margin-top: 20px;

    h3 + p { margin-top: 10px; }

    .checkout-control-container {
        h3 {
            display: none;
        }

        .register-form {
            display: none;
        }

        &.register {
            .register-form {
                display: block;
            }

            .guest-form {
                display: none;
            }
        }
    }

    .line {
        width: 1px;
        background: #666666;
        height: 250px;
        margin: 20px auto;

        .or {
            line-height: 32px;
            width: 32px;
            border-radius: 16px;
            border: 1px solid #666666;
            text-align: center;
            color: #333333;
            height: 32px;
            font-size: 12px;
            margin: 110px auto 0px -16px;
            background: #ffffff;
            z-index: 10;
            position: absolute;
        }
    }
}
