


.hire-page {
    .page-content();
    margin-top: 20px;

    .product-list {
        li {
            margin-bottom: @gutter;
        }
        width: 80%;
    }

    .hire-categories {
        width: 20%;
    }
}

.hire-products-removed {
    .page-content();
    margin-top: 20px;

    .alert{ margin-top: 20px;}
    ul {
        li {
            margin-top: 20px;
        }
    }
}
