


.home {
    .page-content();
    margin-top: 20px;

    .styles {

        .tile-image {
            color: #333333;
            text-align: center;
            font-size: 32px;
            display: block;
            font-family: 'TypicalWriter', Arial;
            transition: all 0.15s linear 0s;

            img {
                width: 100%;
            }

            em {
                display: block;
                text-align: center;
                font-style: normal;
                color: #666666;
                line-height: 18px;
                font-size: 18px;
                margin-top: 5px;
                padding: 5px 0px 10px 0px;
                transition: all 0.15s linear 0s;
                font-family: 'a-little-sunshine', Arial;
            }

            &:hover {
                text-decoration: none;
                color: @green;

                em {
                    color: @green;
                }
            }
        }
    }

    .social {
        text-align: center;
        margin-top: 20px;
    }

    .promotion {
        width: 100%;
    }
    .bunting { width: 1100px; margin-left: -70px; height: 140px; }


    .featured {
        margin-top: 40px;
        li {
            margin-bottom: @gutter;
            width: 20%;
        }

            li.square-text {
                margin-bottom: 20px;

                h4 {
                    height: 171px; padding: 0px 10px 0px 20px;
                    background: #fefefe;
                    font-family: 'a-little-sunshine', Arial;
                    font-size: 26px;
                    line-height: 50px;
                    font-weight: normal;
                    text-align: center;
                    .box-shadow(2px 2px 3px 0px rgba(50, 50, 50, 0.25));

                    &.supplies { padding-top: 30px; }
                    &.gifts-and-games { padding-top: 30px; }
                    &.furniture { padding-top: 30px; }
                }
            }
    }

    hr { margin-top: 20px; }
}
