


.theme {
    .page-content();
    margin-top: 20px;


    img {
        width: 100%;
        display: block;
    }

    .party-hats {
        position: absolute;
        width: 120px;
        top: -15px;
        right: 0px;
    }

    .bird {
        width: 100px;
        margin-left: 160px;
    }

    .balloons {
        position: absolute;
        width: 120px;
        top: 65px;
        right: 0px;
    }

    .bunting {

       margin-top: 50px;
    }

    .buy-package {
        position: absolute;
        width: 180px;
        top: 310px;
        right: 0px;
        text-align: center;

        p {
            margin-top: 5px;
            font-size: 20px;
            font-family: 'a-little-sunshine', sans-serif;
        }
    }



    .description {
        padding-right: 100px;

        p, a {
            font-family: 'a-little-sunshine', sans-serif;
            font-size: 20px;
            line-height: 26px;
            white-space: pre-wrap;
        }
    }

    .main-image-container {
        margin-top: 20px;
    }

    .thumbnails {
        .left {
            width: 230px;
            margin-top: 5px;
        }

        .right {
            width: 230px;
            height: 313px;
            margin-top: 5px;
            a
                {
                display: block; width: 230px; height: 313px; overflow: hidden;
            }
        }
    }

    .included-in-package {
        white-space: pre-wrap;
        line-height: 28px;
        padding-top: 10px;
    }

    .extra-pages {
        margin-top: 60px;

        .invites
        {
            img { width: 90px;}
        }
        
        .catering
        {
            img { width: 65px;}
        }

        .entertainment
        {
            img { width: 100px;}
        }

        a {
            font-size: 24px;
            display: block;
            line-height: 100px;

            span {
                float: left; padding-right: 20px;
            }

            img {
                float: left;
            }
            &:hover { color: @green;}
        }
    }
}


    .theme-image {
        width: 960px;
        overflow: hidden;
        position: relative;

        &.tall {
            width: 640px;
        }

        img {
            display: block;
        }

        &.animate {
            .side-panel {
                transition: all 0.15s linear 0s;
            }
        }

        .side-panel {
            width: 45%;
            background: #ffffff;
            height: 100%;
            position: absolute;
            top: 0px;
            left: -45%;
            z-index: 10000;
            padding: 30px 20px 20px 20px;

            h2 {
            }

            .available-text { display: none;}

            .qty-container {
                width: 30%;
            }

            .add-to-cart-container {
                width: 60%;
            }

            .price {
                font-size: 24px;
                margin-top: 25px;
            }

            .close-product-info {
                padding-left: 10px;
                padding-right: 10px;
                position: absolute;
                z-index: 9999;
                top: 0;
                right: 0;
                line-height: 30px;
                cursor: pointer;
                text-align: center;
                color: #000;
                border-radius: 0px 0px 0px 5px;
                border-left: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                background: #ffffff;

                &:hover {
                    background: #eeeeee;
                }
            }

            .images {
                margin-top: 20px;

                .image-container {
                    border: 1px solid #cccccc;
                    padding: 2px;
                }

                img {
                    width: 100%;
                }
            }
        }

        &.show-left {
            .side-panel {
                left: -45%;
                right: auto;

                .close-product-info {
                }
            }
        }

        &.show-right {
            .side-panel {
                right: -45%;
                left: auto;
            }
        }

        .side-panel-right {
            width: 45%;
            background: #ffffff;
            height: 100%;
            position: absolute;
            top: 0px;
            right: -45%;
            transition: all 0.15s linear .1s;
        }

        &.show-product-left {
            .side-panel {
                left: 0px;
            }
        }

        &.show-product-right {
            .side-panel {
                right: 0px;
            }
        }

        .marker {
            width: 16px;
            height: 16px;
            position: absolute;
            background: #ffffff;
            border: 2px solid #333333;
            border-radius: 8px;
            padding: 3px;
            cursor: pointer;
            transition: all 0s linear .1s;
            display: block;

            &:hover {
                border: 2px solid darken(#333333, 10%);

                .inner-circle {
                    background: darken(#333333, 10%);
                }
            }

            .inner-circle {
                width: 6px;
                height: 6px;
                background: #333333;
                border-radius: 3px;
                transition: all 0s linear .1s;
                display: block;
            }

            &.balloon {
                top: 25%;
                left: 30%;
            }

            &.soft-drinks {
                top: 72%;
                left: 14%;
            }

            &.blackboard {
                top: 54%;
                left: 68%;
            }
        }
    }


    .theme-availability-check {
        .postcode-check {
            width: 580px;
        }

        .party-date-check {
            width: 580px;
        }
    }





.theme-add-to-cart {
    h3 {
        margin-top: 20px;
    }

    ul {
        margin-top: 10px;
    }

    .add-to-cart {
        margin-top: 20px;
    }

    .available-text {
        color: @green;
    }

    .added-to-cart {
        margin-top: 20px;
        display: none;
    }

    &.in-cart {
        .added-to-cart {
            display: block;
        }
    }
}