


.theme {
    .page-content();
    margin-top: 20px;


    img {
        width: 100%;
    }

    h2 {
        font-size: 28px;
        font-family: 'TypicalWriter', Arial;
    }

    .description {
        p {
            font-size: 24px;
            line-height: 32px;
            font-family: 'a-little-sunshine', Arial;
      
            i {
                font-size: 18px;color: #333;
            }
        }
    }

    h2.price {
        font-weight: normal;
    }

    .main-image-container {
        position: relative;

        img {
            width: 100%;
        }

        .marker {
            width: 16px;
            height: 16px;
            position: absolute;
            background: #ffffff;
            border: 2px solid #333333;
            border-radius: 8px;
            padding: 3px;
            cursor: pointer;
            transition: all 0s linear .1s;
            display: block;

            &:hover {
                border: 2px solid darken(#333333, 10%);

                .inner-circle {
                    background: darken(#333333, 10%);
                }
            }

            .inner-circle {
                width: 6px;
                height: 6px;
                background: #333333;
                border-radius: 3px;
                transition: all 0s linear .1s;
                display: block;
            }

            &.balloon {
                top: 25%;
                left: 30%;
            }

            &.soft-drinks {
                top: 72%;
                left: 14%;
            }

            &.blackboard {
                top: 54%;
                left: 68%;
            }
        }
    }

    .add-theme {
        line-height: 36px;

        .btn {
            float: right;
            margin-left: 20px;
        }
    }



    .price {
        font-size: 36px;
        position: relative;
        margin-top: 25px;

        span {
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }


    .check-theme-availability {
        margin-right: 20px;
        margin-top: 15px;


        .check-availability-button {
            width: 100%;
            margin-top: 10px;
        }
    }

    .included-in-package
    {
        li
            {
            
            font-size: 20px;
            line-height: 32px;
            font-family: 'a-little-sunshine', Arial;
        }
    }
}
