@model Vintage.Rabbit.Web.Models.Products.ProductLinkViewModel

@if(Model.Type == Vintage.Rabbit.Common.Enums.ProductType.Buy)
{ 
    <a class="right ajax-lightbox" rel="nofollow" href="@Url.RouteUrl(Routes.Buy.Preview, new { categoryName = Model.Category.Name, productId = Model.Id, name = Model.UrlTitle })">
        <i class="fa fa-search"></i>
        Preview
    </a>
    
}
@if(Model.Type == Vintage.Rabbit.Common.Enums.ProductType.Hire)
{
    <a class="right ajax-lightbox" rel="nofollow" href="@Url.RouteUrl(Routes.Hire.Preview, new { categoryName = Model.Category.Name, productId = Model.Id, name = Model.UrlTitle })">
        <i class="fa fa-search"></i>
        Preview
    </a>
}
                              
