@model Vintage.Rabbit.Web.Models.Themes.PartyDatePickerViewModel


<div class="theme-availability-check">
    <div class="party-date-check availability-check">
        <div class="row">
            <div class="col-12">

                <h2>@Model.ThemeTitle</h2>

                @using (Html.BeginRouteForm(Routes.Themes.Hire, new { }, FormMethod.Post, new { @class = "check-availability-form theme-form" }))
                {
                    <p>
                        Please choose a party date below to see if @Model.ThemeTitle is available.
                    </p>
                    <fieldset>

                        <ol class="row">

                            <li class="col-6">
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    @Html.EditorFor(o => o.PartyDate, new { htmlAttributes = new { @placeholder = "Party Date", @class = "datepicker-trigger" } })
                                </div>
                            </li>

                            <li class="col-6">
                                <button type="submit" class="btn primary check-availability-button">
                                    <i class="fa fa-refresh"></i>
                                    Check availability
                                </button>

                            </li>
                        </ol>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
