@model Vintage.Rabbit.Web.Models.Themes.ThemeViewModel
@{
    ViewBag.Title = "Carnival - Vintage Rabbit";
}


<div class="theme">

    <div class="row">

    


        <div class="col-12">


                <div class="description">

                    <h2>Carnival</h2>
                    <p>
                        Roll up, roll up, the coolest bids party is about to head to town. Kids love a carnival, full of bright colours, lots of fun and easy playful food. Recreate this exciting carnival for your child’s next party with these party supplies and props for hire from Vintage Rabbit.
                    </p>
                </div>


            <div class="row">
                <div class="col-6">
                    <ol class="row">
                        <li class="col-12 main-image-container">

                            <img src="/content/images/themes/teddy-bears-picnic/teddy bears picnic theme package 5332 (1 of 1).jpg" />

                            <a href="/style/model-hot-air-balloon-prop/21" class="marker balloon ajax-lightbox">
                                <span class="inner-circle"></span>
                            </a>
                            <a href="/style/mini-glass-milk-bottles-(set-of-12)/16" class="marker soft-drinks ajax-lightbox">
                                <span class="inner-circle"></span>
                            </a>
                            <a href="/style/white-a-frame-blackboard/5" class="marker blackboard ajax-lightbox">
                                <span class="inner-circle"></span>
                            </a>

                        </li>
                    </ol>
                    <ol class="row">
                        <li class="col-6" style="margin-top: 5px;">
                            <a href="/style/teddy-bears-picnic">
                                <img src="/content/images/themes/teddy-bears-picnic/teddy bears picnic theme package 5276 (1 of 1).jpg" />
                            </a>
                        </li>
                        <li class="col-6" style="margin-top: 5px;">
                            <a href="/style/teddy-bears-picnic">
                                <img src="/content/images/themes/teddy-bears-picnic/teddy bears picnic theme package 5281 (1 of 1).jpg" />
                            </a>
                        </li>
                    </ol>
                    <ol class="row">
                        <li class="col-6" style="margin-top: 5px;">
                            <a href="/style/teddy-bears-picnic">
                                <img src="/content/images/themes/teddy-bears-picnic/teddy bears picnic theme package 5287 (1 of 1).jpg" />
                            </a>
                        </li>
                        <li class="col-6" style="margin-top: 5px;">
                            <a href="/style/teddy-bears-picnic">
                                <img src="/content/images/themes/teddy-bears-picnic/teddy bears picnic theme package 5328 (1 of 1).jpg" />
                            </a>
                        </li>

                    </ol>

                </div>

                <div class="col-6">
                    <p>
                        Scroll over the icon on an image to add party supply products or hire items to your cart or click on the buy all button to recreate the scene below. Everything is delivered to your door without the expense of a stylist.
                    </p>

                    <h2>Included in package</h2>
                    <ul class="included-in-package">
                        <li>Kids table and chair hire</li>
                        <li>Candy buffet table hire</li>
                        <li>Glassware and crockery</li>
                        <li>Table settings for hire including mini milk bottles</li>
                        <li>Disposable napkins, wooden plates and straws</li>
                        <li>Table runners and bunting</li>
                        <li>Photo booth package</li>
                        <li>Props and wooden crates</li>
                    </ul>

                    <div class="price hidden">
                        $250.00
                    </div>
                    @using (Html.BeginRouteForm(Routes.Themes.Carnival, new { }, FormMethod.Post, new { @class = "check-availability-form hidden" }))
                    {
                        <div class="row check-theme-availability">

                            <div class="col-12">
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    @Html.EditorFor(o => o.PartyDate, new { htmlAttributes = new { @placeholder = "Party Date", @class = "datepicker-trigger" } })
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn primary check-availability-button">
                                    <i class="fa fa-refresh"></i>
                                    Check availability
                                </button>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

