@model IList<Vintage.Rabbit.Web.Models.Products.ProductListItemViewModel>


<ul class="featured row">
    @{int counter = 1;}
    @foreach (var product in Model)
    {
        if(counter == 2)
        {
        <li class="col-2 square-text">
                <h4>party supplies</h4>
            </li>
        }
        if(counter == 10)
        {
        <li class="col-2 square-text">
                <h4>prop & furniture hire</h4>
            </li>
        }
        if(counter == 11)
        {
        <li class="col-2 square-text">
                <h4>gifts & games</h4>
            </li>
        }
        <li class="col-2">
            @{Html.RenderPartial("product-list-item", product);}
        </li>
        counter++;
    }
</ul>


