@model IList<Vintage.Rabbit.Web.Models.Products.ProductListItemViewModel>


<ul class="featured row product-list">
    @{int counter = 1;}
    @foreach (var product in Model)
    {
        if (counter == 2)
        {
            <li class="col-2 square-text">
                <h4 class="supplies">party <br />supplies</h4>
            </li>
        }
        if (counter == 8)
        {
            <li class="col-2 square-text">
                <h4 class="furniture">prop & furniture hire</h4>
            </li>
        }
        if (counter == 9)
        {
            <li class="col-2 square-text">
                <h4 class="gifts-and-games">gifts & <br />games</h4>
            </li>
        }
        <li class="col-2">
            @{Html.RenderPartial("product-list-item", product);}
        </li>
            counter++;
    }
</ul>


