
@{
    ViewBag.Title = "Entertainment - Vintage Rabbit";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="entertainment">


    <div class="row">
        <div class="col-12">
            <h2>Entertainment</h2>


            <p>
                "Some occassions call for 'going to town' and having entertainment taken care of by the professionals! Imagine the squeals of delight if a real-life fairy came along to their magical birthday party or fury baby animals were on hand to take pleasure in patting and feeding! We've taken the hassel out of searching and have provided a growing list of Vintage Rabbit preferred entertainers below."

            </p>
            <h2 class="partner">Myuna Farm's Animal Nurseries</h2>
            <a target="_blank" href="http://www.animalnursery.com">www.animalnursery.com</a>


            <h2 class="partner">Little Party Faces</h2>
            <a target="_blank" href="http://www.littlepartyfaces.com.au">www.littlepartyfaces.com.au</a>

        </div>
    </div>
</div>

