@model Vintage.Rabbit.Web.Models.Products.HireProductViewModel

    <div class="col-12 check-availability">
        

        @using (Html.BeginRouteForm(Routes.Hire.AvailabilityCheck, new { productGuid = Model.Guid, name = Model.UrlTitle }, FormMethod.Post, new { @class = "check-availability-form hire-form" }))
        {
            <fieldset>

                <ol class="row">

                    @if (ViewBag.PostcodeChecked != null && ViewBag.PostcodeChecked)
                    {
                        <li class="col-12 help-text ">
                            <div class="hire-available alert positive icon">
                                <i class="fa fa-check-circle"></i>Hire is available in your area. Please choose a party date below.
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="col-12 help-text ">
                            <p>
                                Please choose a party date below to see if @Model.Title is available.
                            </p>
                        </li>
                    }

                    <li class="col-6">
                        <div class="input-icon">
                            <i class="fa fa-calendar"></i>
                            @Html.EditorFor(o => o.PartyDate, new { htmlAttributes = new { @placeholder = "Party Date", @class = "datepicker-trigger" } })
                        </div>
                    </li>


                    <li class="col-6">
                        <button type="submit" class="btn primary check-availability-button">
                            <i class="fa fa-refresh"></i>
                            Check availability
                        </button>
                                      
                    </li>
                </ol>
            </fieldset>
        }

                      
    </div>
               