@model Vintage.Rabbit.Web.Models.Products.ProductListViewModel

@{
    ViewBag.Title = "Hire - Vintage Rabbit";
}

<div class="hire-page">    

    @{Html.RenderAction("ListBreadcrumbs", "Hire");}

    <div class="row">

        @{Html.RenderAction("Categories", "Hire");}

         
        <div class="col-10 product-list">
   
                <h2>Hire</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishi</p>
                <p><strong>Most popular products</strong></p>

            <ul class="row ">

                @foreach (var product in Model.Products)
                {
                    <li class="col-3">
                        <div class="product-list-item">

                            @if (product.Image != null)
                            {
                                <img src="@product.Image.Thumbnail" width="100%" />
                            }

                            <div class="details">

                                <div class="container">
                                    <h4>
                                        @{Html.RenderAction("ProductLink", "Product", new { productGuid = product.Guid });}
                                    </h4>
                                    <div class="price">
                                        @product.Cost
                                    </div>

                                    <div class="product-controls">
                                        @{Html.RenderAction("ProductPreviewLink", "Product", new { productGuid = product.Guid });}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                }
            </ul>
        </div>


    </div>

</div>


