@model Vintage.Rabbit.Web.Models.Products.ProductListViewModel

@{
    ViewBag.Title = "Hire - Vintage Rabbit";
}

<div class="hire-page">    

    @{Html.RenderAction("ListBreadcrumbs", "Hire");}

    <div class="row">

        @{Html.RenderAction("Categories", "Hire");}

         
        <div class="col-10 product-list">
   
                <h2>Hire</h2>
                <p>Vintage furniture can add a sweet touch to any event be it a wedding, kids party or baby shower. Vintage hire is a great way to mix modern party decorations with a touch of rustic retro appeal, giving a whimsical nostalgia to your kids party, wedding or event theme. Vintage Rabbit specialises in kids party hire Melbourne offering kids chair hire, kids party table hire, candy buffet hire, apothecary glass jars, prop hire, backdrops, party games and vintage crockery. We are adding to our range daily so please check back often or check out our theme page for more information on theme packages and styling.</p>
                <p><strong>Most popular products</strong></p>

            <ul class="row ">

                @foreach (var product in Model.Products)
                {
                    <li class="col-3">
                        <div class="product-list-item">

                            @if (product.Image != null)
                            {
                                <img src="@product.Image.Thumbnail" width="100%" />
                            }

                            <div class="details">

                                <div class="container">
                                    <h4>
                                        @{Html.RenderAction("ProductLink", "Product", new { productGuid = product.Guid });}
                                    </h4>
                                    <div class="price">
                                        @product.Cost
                                    </div>

                                    <div class="product-controls">
                                        @{Html.RenderAction("ProductPreviewLink", "Product", new { productGuid = product.Guid });}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                }
            </ul>
        </div>


    </div>

</div>


