@model Vintage.Rabbit.Web.Models.Products.ProductListViewModel

@{
    if(Model.SelectedCategory == null)
    {
        ViewBag.Title = "Hire | Vintage Rabbit";
    }
    else
    {
        ViewBag.Title = Model.SelectedCategory.SEOTitle;
        ViewBag.Keywords = Model.SelectedCategory.SEOKeywords;
        ViewBag.Description = Model.SelectedCategory.SEODescription;
    }
}

<div class="hire-page">    

    @{Html.RenderAction("ListBreadcrumbs", "Hire");}

    <div class="row">

        @{Html.RenderAction("Categories", "Hire");}

         
    <div class="col-10 product-list">

        <h2>@Model.SelectedCategory.DisplayName</h2>
        <p>
            @Model.SelectedCategory.Description
        </p>

        <ul class="row ">

            @foreach (var product in Model.Products)
            {
                <li class="col-3">
                    <div class="product-list-item">

                        @if (product.Image != null)
                        {
                            <img src="@product.Image.Thumbnail" width="100%" />
                        }

                        <div class="details">

                            <div class="container">
                                <h4>
                                    @{Html.RenderAction("ProductLink", "Product", new { productGuid = product.Guid });}
                                </h4>
                                <div class="price">
                                    @product.Cost
                                </div>

                                <div class="product-controls">                                    
                                    @{Html.RenderAction("ProductPreviewLink", "Product", new { productGuid = product.Guid });}
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
            }
        </ul>
    </div>


    </div>
    @{Html.RenderPartial("Pagination", Model.Pagination);}

</div>


