@model Vintage.Rabbit.Web.Models.Products.ProductListViewModel


<div class="hire-page">    
    
    @{Html.RenderPartial("breadcrumbs", Model.Breadcrumbs);}

    <ul class="row product-list">
        @foreach (var product in Model.Products)
        {
            <li class="col-2">
                <div class="product-list-item">

                    <img src="@product.Image.Url" width="100%" />

                    <div class="details">

                        <div class="container">
                            <h4>@Html.RouteLink(product.Title, Routes.Hire.Product, new { productId = product.Id, name = product.UrlTitle }, new { })</h4>
                            <div class="price">
                                @product.Cost
                            </div>

                            <div class="product-controls">
                                <a class="right ajax-lightbox" href="@Url.RouteUrl(Routes.Hire.Preview, new { productId = product.Id, name = product.UrlTitle })">
                                    <i class="fa fa-search"></i>
                                    Preview
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
        }
    </ul>
</div>


