@model IList<Vintage.Rabbit.Web.Models.Products.PurchasableItemViewModel>

@{
    ViewBag.Title = "Vintage Rabbit";
}


<div class="hire-products-removed">
    
    <h2>Products unavailable</h2>

    <div class="alert negative">
        Unfortunately the following products are not available for your selected party date and have been removed from your shopping cart.
    </div>

    <ul>
        @foreach (var product in Model)
        {
            <li>
                @if(product.Type == Vintage.Rabbit.Common.Enums.ProductType.Theme)
                {
                    <text>@Html.RouteLink(product.Title, Routes.Themes.Theme, new { themeName = product.UrlTitle })</text>
                }
                else if (product.Type == Vintage.Rabbit.Common.Enums.ProductType.Hire)
                {
                    Html.RenderAction("ProductLink", "Product", new { productGuid = product.Guid });
                }
            </li>
        }
    </ul>

</div>

