@{
    ViewBag.Title = "Bottle of Lollies";
    Layout = "../Shared/_Layout.cshtml";
}



<div class="gutter product-detail">
    <div class="grid-wrap">
        <div class="col-3 offset1 col-4-d col-12-m">
            <div class="image-container">
                <div class="hero-image">
                    <img src="/content/images/lollies_1.jpg" width="100%"/>
                </div>
                <ul class="thumbnails">
                    <li>
                        <img src="/content/images/lollies_1.jpg" width="100%"/>
                    </li>
                    <li>
                        <img src="/content/images/larkstore1lores2.jpg" width="100%"/>
                    </li>
                    <li>
                        <img src="/content/images/larkstore2lores1.jpg" width="100%"/>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-4  col-6-d  col-12-m">
            <h2><div class="border"></div>Bottle of lollies</h2>
            <div class="description">
                <p>
                    Mmm... we love lollies at Lark! 
                </p>
                <p>
                    In this sweet bottle you'll find lots of yummy Australian-made chocolate freckles.
                </p>
                <p>
                    Perfect for party gifts or little treats, our lollies come packaged in a re-usable Lark Store milk bottle.
                </p>
                <p>
                    200g. approx weight. Plastic milk bottle with lid - removable label.
                </p>
            </div>
        </div>
        
        <div class="col-3   col-6-d col-12-m">
            <div class="controls">
                <div class="float-container">
                    <div class="price"><span>$</span>9.95</div>
                </div>
                <p class="availble"><i class="fa fa-check"></i>&nbsp; This product is currently in stock</p>

                <div class="grid-wrap">
                    <div class="col-12 qty">
                        Qty &nbsp; <input type="text" name="qty" id="qty" value="1" /> &nbsp;  &nbsp; 
                        <div class="add-to-cart btn primary">
                            <i class="fa fa-shopping-cart"></i>
                            Add to cart
                        </div>
                    </div>
                    <div class="col-4">
                    </div>
                </div>

                <div class="float-container hidden">
                    <div class="add-to-cart btn primary">
                        <i class="fa fa-shopping-cart"></i>
                        Add to cart
                    </div>
                    <div class="qty">
                        Qty &nbsp; <input type="text" name="qty" id="qty" value="1" />
                    </div>
                </div>
                
                <div class="delivery">
                    <strong>Delivery</strong>

                    <p>
                        This item will be dispatched within 2-3 business days. Shipping options available at check out include:
                </p>
                <p>
FREE Australia wide usually arrives in 3-7 working days <br />
once dispatched. (Please check delivery note above.)
                    </p>
                </div>

                <div class="border hidden"></div>
            </div>
        </div>

    </div>
</div>
