<div class="footer">

    <hr />
    <div class="row">
        <div class="col-12">
            <ol class="footer-links">
                <li><h3>SITE OVERVIEW</h3></li>
                <li>
                    <strong>HIRE:</strong> <a href="/">tables</a> | <a href="/">chairs</a> | <a href="/">candy buffet</a> | <a href="/">props</a> | <a href="/">games</a> | <a href="/">photo booth</a>
                </li>
                <li>
                    <strong>THEMES:</strong> <a href="/">wizard of oz</a> | <a href="/">cinderella</a> | <a href="/">mary poppins</a> | <a href="/">carnival</a> | <a href="/">teddy bears picnic</a> | <a href="/">tea party</a>
                </li>
                <li>
                    <strong>PARTY SUPPLIES:</strong> <a href="/">straws</a> | <a href="/">napkins</a> | <a href="/">cake stands</a> | <a href="/">wooden plates</a> | <a href="/">wooden cutlery</a> | <a href="/">balloons</a>
                </li>
                <li>
                    <strong>GIFTS:</strong> <a href="/">omm design animal plates</a> | <a href="/">animal hand puppets</a>
                </li>
                <li>
                    <strong>GAMES:</strong> <a href="/">pin the tail on the donkey</a> | <a href="/">elastics</a> | <a href="/">giant skipping ropes</a> | <a href="/">dominoes</a> | <a href="/">hopscotch</a>
                </li>
                <li>
                    <strong>SUPPLIERS:</strong> <a href="/">write to me</a> | <a href="/">omm designs</a> | <a href="/">robert gordon</a> | <a href="/">skipping pebbles</a> | <a href="/">knox and floyd</a>
                </li>
            </ol>
            <div class="footer-border"></div>

            <div class="payment-options">
                <p class="left">
                    Copyright 2014 Vintage Rabbit. All rights reserved. &nbsp; | &nbsp;
                    @Html.RouteLink("Terms and Conditions", Routes.TermsAndConditions) &nbsp; | &nbsp;
                    @Html.RouteLink("Privacy Policy", Routes.PrivacyPolicy)
                </p>
                <img src="/content/images/footer/mastercard.png">
                <img src="/content/images/footer/visa.png">
                <img src="/content/images/footer/paypal.png">
                <i class="fa fa-lock"></i>
            </div>
        </div>
    </div>


    <div class="footer-links row hidden">

        <div class="col-3 col-6-t">
            <h3>Find us</h3>
            <section class="block">
                <div class="media media-heading"><a href="#body" class="media-body media-body-anchor mobile-only"></a></div>
                <address>Vintage Rabbit<br>
                    38 Toorak Road<br>
                    South Yarra<br>
                    VIC 3141 Australia </address>
                <br>
                <p>P: +613 9867 5888<br>
                    E: <a href="mailto:info@luxbite.com.au">info@LuxBite.com.au</a><br>
                    Open 7 Days, 10.30am - 7pm </p>
            </section>
        </div>
        <div class="col-3 col-6-t">
            <h3>Styles</h3>
            Teddy bear picnic
            <br />
            Elmo<br />
            Miffy<br />
            Alice in wonderland<br />

        </div>
        <div class="col-3 col-6-t">
            <h3>Blog</h3>
            Party - 16 March 2014<br />
            Rocket Party 15 Aug 2013
        </div>
        <div class="col-3 col-6-t">
            <h3>Say Hi</h3>
            <p>We love to hear from you! Fill in the form below and we'll get back to you as quickly as we can. Feel free to drop us a line about product requests, employment queries... anything!</p>
        </div>
    </div>

</div>

