

        <div class="footer">
            <div class="gutter">
    <div class="footer-links grid-wrap">
        <div class="col-3">
					<h3>About us</h3>
						<ul>
						<li><a href="http://ktm-demo.com/shopcrown/index.php/glamshop_about_page">About Us</a></li>
						<li><a href="http://ktm-demo.com/shopcrown/index.php/customer-service">Customer Service</a></li>
						<li class="last privacy"><a href="http://ktm-demo.com/shopcrown/index.php/privacy-policy-cookie-restriction-mode">Privacy Policy</a></li>
						<li><a href="http://ktm-demo.com/shopcrown/index.php/discount">Discount</a></li>
						<li><a href="http://ktm-demo.com/shopcrown/index.php/gift-cards">Gift Cards</a></li>
						<li><a href="http://ktm-demo.com/shopcrown/index.php/my-favorite-products">My favorite products</a></li>
						</ul>
				</div>
        <div class="col-3">
					<h3>Categories</h3>
					<ul>
					<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">My orders</a></li>
					<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">My credit slips</a></li>
					<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">My addresses</a></li>
					<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">My personal info</a></li>
					</ul>
				</div>
        <div class="col-3">
					<h3>Information</h3>
					<ul>
						<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">Specials</a></li>
						<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">New products</a></li>
						<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">Top sellers</a></li>
						<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">Our stores</a></li>
						<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">Contact us</a></li>
						<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">Sitemap</a></li>
					</ul>
				</div>
        <div class="col-3">
					<h3>My account</h3>
					<ul>
					<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">My orders</a></li>
					<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">My credit slips</a></li>
					<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">My addresses</a></li>
					<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">My personal info</a></li>
					<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">My vouchers</a></li>
					<li><a href="http://ktm-demo.com/shopcrown/index.php/store-page">My favorite products</a></li>
					</ul>
				</div>
    </div>

        </div>
        </div>

        