<div class="footer">

    <hr />
    <div class="row">
        <div class="col-12">
            <ol class="footer-links">
                <li><h3>SITE OVERVIEW</h3></li>
                <li>
                    <strong>HIRE:</strong> 
                    <a href="/hire/tables-and-chairs">tables</a> | 
                    <a href="/hire/tables-and-chairs">chairs</a> | 
                    <a href="/hire/games">games</a> | 
                    <a href="/hire/photo-booth">photo booth</a> | 
                    <a href="/hire/glassware-and-crockery">glassware & crockery</a> | 
                    <a href="/hire/props">props</a> | 
                    <a href="/hire/backdrops">backdrops</a>
                </li>
                <li>
                    <strong>THEMES:</strong> 
                    <a href="/style/frozen">frozen</a> |
                    <a href="/style/wizard-of-oz">wizard of oz</a> | 
                    <a href="/style/cinderella">cinderella</a> | 
                    <a href="/style/mary-poppins">mary poppins</a> |
                    <a href="/style/carnival">carnival</a> | 
                    <a href="/style/teddy-bears-picnic">teddy bears picnic</a> | 
                    <a href="/style/tea-party">tea party</a>
                </li>
                <li>
                    <strong>PARTY SUPPLIES:</strong> 
                    <a href="/party-supplies/on-the-table">on the table</a> | 
                    <a href="/party-supplies/invitations">invitations</a> | 
                    <a href="/party-supplies/decorations">decorations</a> | 
                    <a href="/party-supplies/party-bags">party bags</a> | 
                    <a href="/party-supplies/balloons">balloons</a>
                </li>
                <li>
                    <strong>GIFTS:</strong>
                    <a href="/gifts/vintage-stamps-dorothy-1/208">vintage stamps</a> | 
                    <a href="/gifts/hand-puppet-dog/109">hand puppet dog</a> | 
                    <a href="/gifts/childrens-picnic-set/48">picnic set</a> | 
                    <a href="/gifts/punch-balloons/133">punch balloons</a>
                </li>
                <li>
                    <strong>GAMES:</strong> 
                    <a href="/games/vintage-pin-the-tail-on-the-donkey-game/49">pin the tail on the donkey</a> | 
                    <a href="/games/elastics-game-red/43">elastics</a> | 
                    <a href="/games/giant-skipping-rope/47">giant skipping ropes</a> | 
                    <a href="/games/dominoes-wooden/50">dominoes</a> | 
                    <a href="/games/hopscotch-pack-red/45">hopscotch</a>
                </li>
            </ol>
            <div class="footer-border"></div>

            <div class="payment-options">
                <p class="left">
                    Copyright 2014 Vintage Rabbit. All rights reserved. &nbsp; | &nbsp;
                    @Html.RouteLink("Terms and Conditions", Routes.TermsAndConditions) &nbsp; | &nbsp;
                    @Html.RouteLink("Privacy Policy", Routes.PrivacyPolicy)
                </p>
                <img src="/content/images/footer/mastercard.png">
                <img src="/content/images/footer/visa.png">
                <img src="/content/images/footer/paypal.png">
                <i class="fa fa-lock"></i>
            </div>
        </div>
    </div>


    <div class="footer-links row hidden">

        <div class="col-3 col-6-t">
            <h3>Find us</h3>
            <section class="block">
                <div class="media media-heading"><a href="#body" class="media-body media-body-anchor mobile-only"></a></div>
                <address>Vintage Rabbit<br>
                    38 Toorak Road<br>
                    South Yarra<br>
                    VIC 3141 Australia </address>
                <br>
                <p>P: +613 9867 5888<br>
                    E: <a href="mailto:info@luxbite.com.au">info@LuxBite.com.au</a><br>
                    Open 7 Days, 10.30am - 7pm </p>
            </section>
        </div>
        <div class="col-3 col-6-t">
            <h3>Styles</h3>
            Teddy bear picnic
            <br />
            Elmo<br />
            Miffy<br />
            Alice in wonderland<br />

        </div>
        <div class="col-3 col-6-t">
            <h3>Blog</h3>
            Party - 16 March 2014<br />
            Rocket Party 15 Aug 2013
        </div>
        <div class="col-3 col-6-t">
            <h3>Say Hi</h3>
            <p>We love to hear from you! Fill in the form below and we'll get back to you as quickly as we can. Feel free to drop us a line about product requests, employment queries... anything!</p>
        </div>
    </div>

</div>

