<div class="footer-v2">
    <div class="gutter">
        <div class="footer-links grid-wrap">
            <div class="col-3 col-6-t">
                <h3>Find us</h3>
                <section class="block">
                    <div class="media media-heading"><a href="#body" class="media-body media-body-anchor mobile-only"></a></div>
                    <address>Vintage Rabbit<br>
                        38 Toorak Road<br>
                        South Yarra<br>
                        VIC 3141 Australia </address>
                    <br>
                    <p>P: +613 9867 5888<br>
                        E: <a href="mailto:info@luxbite.com.au">info@LuxBite.com.au</a><br>
                        Open 7 Days, 10.30am - 7pm </p>
                </section>
            </div>
            <div class="col-3 col-6-t">
                <h3>Styles</h3>
                Teddy bear picnic
                <br />
                Elmo<br />
                Miffy<br />
                Alice in wonderland<br />

            </div>
            <div class="col-3 col-6-t">
                <h3>Blog</h3>
                Party - 16 March 2014<br />
                Rocket Party 15 Aug 2013
            </div>
            <div class="col-3 col-6-t">
                <h3>Say Hi</h3>
                <p>We love to hear from you! Fill in the form below and we'll get back to you as quickly as we can. Feel free to drop us a line about product requests, employment queries... anything!</p>
            </div>
        </div>

    </div>
</div>

