@model Vintage.Rabbit.Web.Models.Products.ProductListItemViewModel


<div class="product-list-item">

    @if(Model.Image != null)
    { 
    <img src="@Model.Image.Url" width="100%" />
    }

    <div class="details">

        <div class="container">
            <h4>
                @{Html.RenderAction("ProductLink", "Product", new { productGuid = Model.Guid });}
            </h4>
            <div class="price">
                @Model.Cost
            </div>

            <div class="product-controls">
                @if(Model.Type == Vintage.Rabbit.Common.Enums.ProductType.Buy)
                { 
                <a class="left add-to-cart" href="@Url.RouteUrl(Routes.ShoppingCart.Add, new { productId = Model.Id, name = Model.UrlTitle })">
                    <i class="fa fa-shopping-cart"></i>
                    Add
                </a>
                }
                @{Html.RenderAction("ProductPreviewLink", "Product", new { productGuid = Model.Guid });}
            </div>
        </div>
    </div>

</div>
