


       <div class="product-list-v3">
            <div class="gutter">
            <div class="grid-wrap">
                <div class="col-2 col-3-t col-6-m">
                    <div class="item-container">
                        <div class="item">
                            <div class="image-container">
                                <img src="/content/images/rainbow-cups---hr.jpg" width="100%"/>
                            </div>
                            <h4>Rainbow Stripe Paper Cups</h4>
                            <div class="price">$6.95</div>
                            <div class="product-controls">
                                <div class="left">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add
                                </div>
                                <div class="right">
                                    <i class="fa fa-search"></i>
                                    Preview
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 col-3-t col-6-m">
                    <div class="item-container">
                        <div class="item">
                            <div class="image-container">
                                <img src="/content/images/age-05-102-spot.jpg" width="100%"/>
                            </div>
                                <h4>Tall Milk Bottle</h4>
                            <div class="price">$9.95</div>
                            <div class="product-controls">
                                <div class="left">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add
                                </div>
                                <div class="right">
                                    <i class="fa fa-search"></i>
                                    Preview
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 col-3-t col-6-m">
                    <div class="item-container">
                        <div class="item">
                            <div class="image-container">
                                <img src="/content/images/lollies_1.jpg" width="100%"/>
                            </div>
                                <h4>
                                    @Html.RouteLink("Bottle of lollies", Routes.Product, new { name = "bottle-of-lollies", productId = 35228 }, new { })
                                </h4>
                            <div class="price">$7.95</div>
                            <div class="product-controls">
                                <div class="left">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add
                                </div>
                                <div class="right">
                                    <i class="fa fa-search"></i>
                                    Preview
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 col-3-t col-6-m">
                    <div class="item-container">
                        <div class="item">
                            <div class="image-container">
                                <img src="/content/images/sambellina_rainbow_treat_box__23750.1377144079.1280.1280.jpg" width="100%"/>
                                <div class="we-love"><div class="start"></div>We love</div>
                            </div>
                                <h4>Rainbow Stripe Paper Cups</h4>
                            <div class="price">$4.95</div>
                            <div class="product-controls">
                                <div class="left">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add
                                </div>
                                <div class="right">
                                    <i class="fa fa-eye"></i>
                                    Preview
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 col-3-t col-6-m">
                    <div class="item-container">
                        <div class="item">
                            <div class="image-container">
                                <img src="/content/images/confetti-party-in-a-box.jpg" width="100%"/>
                            </div>
                                <h4 title="Confetti Party in a Box">Confetti Party in a Box</h4>
                            <div class="price">$14.95</div>
                            <div class="product-controls">
                                <div class="left">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add
                                </div>
                                <div class="right">
                                    <i class="fa fa-search"></i>
                                    Preview
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 col-3-t col-6-m">
                    <div class="item-container">
                        <div class="item">
                            <div class="image-container">
                                <img src="/content/images/il_570xn.445330436_5xg8.jpg" width="100%"/>
                            </div>
                                <h4>Party Confetti</h4>
                            <div class="price">$8.00</div>

                            <div class="product-controls">
                                <div class="left">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add
                                </div>
                                <div class="right">
                                    <i class="fa fa-search"></i>
                                    Preview
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="grid-wrap hidden">
                <div class="col-12">
                    <div class="nav-controls">
                        <div class="left">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="right">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

