@model Vintage.Rabbit.Web.Models.Products.ProductListViewModel

@{
    if(Model.SelectedCategory == null)
    {
        ViewBag.Title = "Buy | Vintage Rabbit";
    }
    else
    {
        ViewBag.Title = Model.SelectedCategory.SEOTitle;
        ViewBag.Keywords = Model.SelectedCategory.SEOKeywords;
        ViewBag.Description = Model.SelectedCategory.SEODescription;
    }
}

<div class="buy-page">
    @{Html.RenderAction("ListBreadcrumbs", "Buy");}

    <div class="row">

        @{Html.RenderAction("Categories", "Buy");}


        <div class="col-10 product-list">

            @if (Model.SelectedCategory != null && Model.SelectedCategory.Name == "invitations")
            {
                <h2 class="invitation-customised">Customised Invitations</h2>
                <ul class="row ">
                    @foreach (var product in Model.Products.Where(o => o.IsCustomisableInvitation))
                    {
                        <li class="col-3">
                            @{Html.RenderPartial("product-list-item", product);}
                        </li>
                    }
                </ul>

                <h2 class="invitation-packs">Invitation packs</h2>
                <ul class="row ">
                    @foreach (var product in Model.Products.Where(o => !o.IsCustomisableInvitation))
                    {
                        <li class="col-3">
                            @{Html.RenderPartial("product-list-item", product);}
                        </li>
                    }
                </ul>
            }
            else
            { 
                if(Model.SelectedCategory != null)
                { 
                    <h2>@Model.SelectedCategory.DisplayName</h2>
                    <p>
                        @Model.SelectedCategory.Description
                    </p>
                }
                
                if(Model.Products.Any())
                { 

                <ul class="row ">
                    @foreach (var product in Model.Products)
                    {
                        <li class="col-3">
                            @{Html.RenderPartial("product-list-item", product);}
                        </li>
                    }
                </ul>
                }
                else
                {
                    <p>Coming soon.</p>
                }
            }
        </div>


    </div>
    @{Html.RenderPartial("Pagination", Model.Pagination);}

</div>

