@{
    ViewBag.Title = "Vintage Rabbit - Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="gutter">
    <div class="grid-wrap">
        <div class="col-2 col-6-d col-6-t">&nbsp;
            <div class="category dropdown2">

                <div class="select">
                    Categories<i class="fa fa-angle-down"></i>
                </div>

                <div class="categories items">
                    <ul class="v2 col-2">
                        <li class="selected">All</li>
                        <li>Party</li>
                        <li>Gifts</li>
                        <li>Games</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-6">
            &nbsp;
        </div>
        
        <div class="col-2">&nbsp;
            <div class="sort-by">
                
                <div class="dropdown2"><div class="select">Sort by <i class="fa fa-angle-down"></i></div></div>
            </div>
        </div>
        <div class="col-2">&nbsp;
            <div class="sort-by">
                <div class="dropdown2"><div class="select">25 Items per page <i class="fa fa-angle-down"></i></div></div>
            </div>
        </div>
    </div>
</div>


@{Html.RenderPartial("products");}   
@{Html.RenderPartial("products");}    
@{Html.RenderPartial("products");}