@model Vintage.Rabbit.Web.Models.Products.ProductListViewModel

@{
    ViewBag.Title = (Model.SelectedCategory == null ? "Buy - Vintage Rabbit" : string.Format("{0} - Vintage Rabbit", Model.SelectedCategory.DisplayName));
}

<div class="buy-page">
    @{Html.RenderAction("ListBreadcrumbs", "Buy");}

    <div class="row">

        @{Html.RenderAction("Categories", "Buy");}


        <div class="col-10 product-list">

            @if (Model.SelectedCategory != null && Model.SelectedCategory.Name == "invitations")
            {
                <h3 class="invitation-customised">Customised Invitations</h3>
                <ul class="row ">
                    @foreach (var product in Model.Products.Where(o => o.IsCustomisableInvitation))
                    {
                        <li class="col-3">
                            @{Html.RenderPartial("product-list-item", product);}
                        </li>
                    }
                </ul>

                <h3 class="invitation-packs">Invitation packs</h3>
                <ul class="row ">
                    @foreach (var product in Model.Products.Where(o => !o.IsCustomisableInvitation))
                    {
                        <li class="col-3">
                            @{Html.RenderPartial("product-list-item", product);}
                        </li>
                    }
                </ul>
            }
            else
            { 
                <ul class="row ">
                    @foreach (var product in Model.Products)
                    {
                        <li class="col-3">
                            @{Html.RenderPartial("product-list-item", product);}
                        </li>
                    }
                </ul>
            }
        </div>


    </div>
    @{Html.RenderPartial("Pagination", Model.Pagination);}

</div>

