@model IList<Vintage.Rabbit.Web.Models.Categories.CategoryViewModel>



<div class="row buy-page">

    @foreach(var category in Model)
    { 
    <div class="col-4">
        <a href="@Url.RouteUrl(Routes.Buy.Category, new { categoryName = category.Name })" class="@category.Name tile-image">
            @category.DisplayName
        </a>
    </div>
    }
</div>

