@model Vintage.Rabbit.Web.Models.Products.ProductListViewModel

@{
    ViewBag.Title = (Model.SelectedCategory == null ? "Buy - Vintage Rabbit" : string.Format("{0} - Vintage Rabbit", Model.SelectedCategory.DisplayName));
}

<div class="buy-page">
    @{Html.RenderAction("ListBreadcrumbs", "Buy");}

    <div class="row">

        @{Html.RenderAction("Categories", "Buy");}


        <div class="col-10 product-list">

            @if (Model.SelectedCategory != null && Model.SelectedCategory.Name == "invitations")
            {
                <h2 class="invitation-customised">Customised Invitations</h2>
                <ul class="row ">
                    @foreach (var product in Model.Products.Where(o => o.IsCustomisableInvitation))
                    {
                        <li class="col-3">
                            @{Html.RenderPartial("product-list-item", product);}
                        </li>
                    }
                </ul>

                <h2 class="invitation-packs">Invitation packs</h2>
                <ul class="row ">
                    @foreach (var product in Model.Products.Where(o => !o.IsCustomisableInvitation))
                    {
                        <li class="col-3">
                            @{Html.RenderPartial("product-list-item", product);}
                        </li>
                    }
                </ul>
            }
            else
            { 
                if(Model.SelectedCategory != null)
                { 
                    <h2>@Model.SelectedCategory.DisplayName</h2>
                }

                <ul class="row ">
                    @foreach (var product in Model.Products)
                    {
                        <li class="col-3">
                            @{Html.RenderPartial("product-list-item", product);}
                        </li>
                    }
                </ul>
            }
        </div>


    </div>
    @{Html.RenderPartial("Pagination", Model.Pagination);}

    @if(Model.SelectedCategory != null)
    {
        <div class="row">
            <div class="col-10 offset-2">
    <p class=" solid-box-container">
                @Model.SelectedCategory.Description
                </p>
            </div>
        </div>
    }


</div>

