@model Vintage.Rabbit.Web.Models.Products.ProductListViewModel

@{
    ViewBag.Title = Model.SelectedCategory.SEOTitle;
    ViewBag.Keywords = Model.SelectedCategory.SEOKeywords;
    ViewBag.Description = Model.SelectedCategory.SEODescription;
}

<div class="buy-page">
    @{Html.RenderAction("ListBreadcrumbs", "Buy");}

    <div class="row">

        @{Html.RenderAction("Categories", "Buy");}


        <div class="col-10 product-list">
            <h2>Party Supplies</h2>
            <p>
                We love unique, beautiful party supplies that add simple effective statements to your event, with just one or two pieces. That’s why we have created a one of a kind online party shop, dedicated to the most beautiful party supplies in Australia. The most unique kids party supplies online, we source our products from one of a kind handmade suppliers and the best quality suppliers on the market. Our range encompasses all of the items available in our packages including wooden spoon, wooden bowl/plates, birthday balloons, tissue paper flowers, kids paper snowflakes and serviettes.
            </p>
            <p>
                Looking for the whole package for your kids birthday parties? We offer full package party themes including a mixture of hire and purchase items that have been fully styled. Check out or <a href="/style">theme</a> page for more details.
            </p>
            <p><strong>Most popular products</strong></p>
            <ul class="row ">

                @foreach (var product in Model.Products)
                {
                    <li class="col-3">
                        @{Html.RenderPartial("product-list-item", product);}
                    </li>
                }
            </ul>
        </div>


    </div>

</div>
