@model IList<Vintage.Rabbit.Web.Models.Categories.CategoryViewModel>




<ul class="party-supplies-subnav">
    @foreach(var category in Model)
    {
    <li>@Html.RouteLink(category.DisplayName, Routes.Buy.CategoryChild, new { categoryName = "party-supplies", childCategoryName = category.Name })</li>
    }
</ul>
            