@model Vintage.Rabbit.Web.Models.Products.ProductListViewModel


<div class="buy-page">
    @{Html.RenderPartial("breadcrumbs", Model.Breadcrumbs);}

    <ul class="row product-list">
        @foreach (var product in Model.Products)
        {
            <li class="col-2">
                @{Html.RenderPartial("product-list-item", product);}
            </li>
        }
    </ul>
</div>