@model Vintage.Rabbit.Web.Models.Products.ProductListViewModel

@{
    ViewBag.Title = Model.SelectedCategory.DisplayName + " - Vintage Rabbit";
}



<div class="buy-page">
    @{Html.RenderAction("ListBreadcrumbs", "Buy");}


    @if(Model.SelectedCategory.Name == "gifts" || Model.SelectedCategory.Name == "games")
    {
        <ul class="row product-list items-5">
            @foreach (var product in Model.Products)
            {
                <li class="col-3">
                    @{Html.RenderPartial("product-list-item", product);}
                </li>
            }
        </ul>
    }
    else
    { 
        <div class="row">
        @{Html.RenderAction("Categories", "Buy");}

        <div class="col-10">
            
            <ul class="row product-list items-4">
                @foreach (var product in Model.Products)
                {
                    <li class="col-3">
                        @{Html.RenderPartial("product-list-item", product);}
                    </li>
                }
            </ul>
        </div>
    </div> 
    }
   

    @{Html.RenderPartial("Pagination", Model.Pagination);}

</div>