@model Vintage.Rabbit.Web.Models.Buy.BuyProductListViewModel


<div class="buy-page">
    @{Html.RenderPartial("breadcrumbs", Model.Breadcrumbs);}

    <ul class="row">
        @foreach (var product in Model.Products)
        {
            <li class="col-2">
                @{Html.RenderPartial("product-list-item", product);}
            </li>
        }
    </ul>
</div>